[2016-11-01 08:11] chemdemo opened #1 "openAnalyzer bug"
It can not open analyzer server when `openAnalyzer` is `false`.

[2016-11-01 08:56] th0r commented on #1
Just published `v1.3.0` with the fix.
Now `BundleAnalyzerPlugin` has two separate options: `startAnalyzer` and `openAnalyzer`.

@chemdemo Could you try it?

[2016-11-01 11:50] Couto opened #2 "Generate result into static files"
Instead of starting an HTTP server, is there a way to simply output the generated HTML files (and necessary resources) into static files in a chosen folder?

This would allow us to create simple reports for each build in our CI system.

Thanks for the plugin, it's really cool! :+1:

[2016-11-01 13:33] ghoshnirmalya opened #3 "TypeError: currentFolder.addFile is not a function"
Running into this issue:

[code]

I just included `BundleAnalyzerPlugin`. My `webpack` bundle has multiple entry points and I'm only including the plugin by adding `new BundleAnalyzerPlugin()`.

My `webpack` version is `1.13.2`.

[2016-11-01 14:14] Diokuz opened #4 "TypeError: Cannot read property 'end' of undefined"
[code]

Problem appears in production build of our application, which have no build-in server. In dev-mode all good.

[2016-11-01 14:36] zperrault commented on #2
@th0r Just started looking through the code. Would be happy to give this a shot! Let me know if there's any particular way you'd like me to approach this or if you'd rather not have this feature for some reason.

Thanks! Very excited about this plugin.

[2016-11-01 15:23] jdalton opened #5 "Reports show foamtree link"
I noticed the reports show a link which looks like it could be part of the report but it's a link to the foamtree project. Not sure if this is intentional but figured I'd pass it along.

[2016-11-01 15:25] jdalton opened #6 "Report gzipped size"
With [gzip-size](https://www.npmjs.com/package/gzip-size) you could report the gzipped size to complement the minified
(so minified+gzipped size).

[2016-11-01 15:39] balanceiskey commented on #4
Not sure if it helps, but we get the same error when running the CLI tool against a stats.json file as well. Managed to get it running by disabling the `DedupePlugin`.

[2016-11-01 16:17] alexindigo commented on #4
Same here. And disabling Dedupe plugin helped as well. Although it won't be the same as real bundle in my understanding.

[2016-11-01 17:40] th0r commented on #4
@Diokuz do you use Dedupe plugin for your production build as well?

[2016-11-01 17:47] th0r commented on #3
It couldn't find your generated bundle files. Maybe you post-processing them somehow (renaming?)
Does "filename.js" exist in your output folder?

[2016-11-01 17:59] th0r commented on #2
Yes, I thought about it but chose http server as it doesn't pollute fs, but I think we should support static reports as well.
The only question is shall we generate a bunch of files or inline all necessary scripts and styles into one huge `report.html`?
Thoughts?

[2016-11-01 18:17] alexindigo commented on #4
@th0r and I tried to run production build with minification, but analyzer still shows unminified sizes (in megabytes).

[2016-11-01 18:40] Couto commented on #2
To be honest I'm pretty ok with having several files.

Usually my workflow is to output reports into subfolder inside a particular folder, and then serving the `index.html`

e.g.: `project_folder/.build/{coverage,eslint}/index.html`

Output to a single file is a totally fine option too, I'm just sharing my usual workflow and opinion :)

[2016-11-01 18:42] busticated opened #7 "Error: Cannot find module 'ejs'"
hey there -

i ran into the following error when i tried the run the analyzer:

    Error: Cannot find module 'ejs'
        at Function.Module._resolveFilename (module.js:325:15)
        at Function.Module._load (module.js:276:25)
        at Module.require (module.js:353:17)
        at require (internal/module.js:12:17)
        at new View (/path/to/my/app/node_modules/express/lib/view.js:78:30)

[2016-11-01 20:35] BrockWills commented on #7
I had the same problem but simply running npm install ejs fixed it for me. Strange that it doesn't seem to have installed even though it is a dependency.

[2016-11-01 20:54] BrockWills commented on #7
Can confirm the npm version was the problem for me - after updating to latest npm version and reinstalling all my node_modules it worked fine.

[2016-11-01 20:58] busticated commented on #7
yep, same result over here (after some coaxing :)

[2016-11-01 20:58] #7 closed

[2016-11-02 01:56] joscha commented on #2
Generating static files would be super helpful for us too as we are currently generating statistics on every pull request and make them available as a build artifact.

[2016-11-02 03:26] kishorevarma commented on #4
I did some research on this bug, I am using code splitting in my project , so I have the chunk files  those are loaded using  **webpackJsonp** , following code is used to calculate the size of those chunks

[code]

Problem exist in these two lines, which are pre assuming all the node types are function expressions, but there can be Array Nodes or Literal Nodes for those there wont be any body in A

[2016-11-02 03:51] oliverzy commented on #6
+1
very useful feature

[2016-11-02 06:22] th0r commented on #4
@kishorevarma thanks! Thats exactly what I was thinking of.

Do you know in which situations they can be arrays or literals?

[2016-11-02 06:25] th0r commented on #4
@Diokuz @alexindigo @balanceiskey
Can someone of you guys send me archive with broken bundle? Everything that webpack has created + stats file.

[2016-11-02 08:20] Diokuz commented on #4
@th0r yes, we are using `new webpack.optimize.DedupePlugin()`. Analyzer started to work when I disabled DedupePlugin.

[2016-11-02 09:15] sheweichun opened #8 "Don't generate state.json"
I do like beblow
[code]
after building completed,I don't find states.json,why?

[2016-11-02 09:35] th0r commented on #8
It should be in the same folder as your generated bundles.
Are you sure you added `new BundleAnalyzerPlugin()` to the proper place in your config?
It should be in `plugins` array.

[2016-11-02 11:53] th0r commented on #2
Implemented in `v1.4.0`

[2016-11-02 12:12] #1 closed

[2016-11-02 14:23] Couto commented on #2
[code]

Seems to work great for my use case.
Thanks a lot for your quick implementation!

I think we can close this issue now :)

[2016-11-02 14:23] #2 closed

[2016-11-02 14:23] PhiLhoSoft commented on #4
I had the same issue, and the culprit was indeed `webpack.optimize.DedupePlugin`.
Note that I have the error when running `webpack --profile --json` which, if I understood correctly, is unrelated to this tool, actually.
Ah, now that I updated Webpack from 1.12.13 to 1.13.3, I no longer have the issue.
Funnily, when I removed the dedupe plugin for tests, I observed the same size of files generated

[2016-11-02 14:32] th0r commented on #4
So, appears that if one module is duplicate of another (has the same content) `DedupePlugin` replaces it's content with just module id in output bundle.

But seems like there is another case [when module can be an object](https://github.com/webpack/webpack/blob/webpack-1/lib/optimize/DedupePlugin.js#L149).

@sokra Could you explain this case please?

[2016-11-02 17:08] th0r commented on #4
Released `v1.4.1` with partial support for `DedupePlugin` (simple case with duplicated module ids).
Can you check it guys?

[2016-11-02 17:13] th0r commented on #3
@ghoshnirmalya Have you solved your problem?

[2016-11-02 17:17] ghoshnirmalya commented on #3
@th0r Will check and let you know in a day. Thanks.

[2016-11-02 17:36] ghoshnirmalya commented on #3
I've the entry point as `filename_settings '` and it references `./admin/pages/filename-settings'`.

It's stating:

[code]

[2016-11-02 17:42] th0r commented on #3
What is `filename-settings` here? A file? `filename-settings.js`?

[2016-11-02 17:46] th0r commented on #5
Carrot Search doesn't allow to use unbranded version of FoamTree in opensource projects and I couldn't find any suitable alternative to it.

@jdalton Maybe you know some?

[2016-11-02 17:55] ghoshnirmalya commented on #3
It is actually an entry point `entry: {}` for the webpack. It generates a bundled file named `filename-settings.js`.

[2016-11-02 18:05] th0r commented on #3
What are the values for `output.path` and `output.filename` from your webpack config?
Can you also post contents of `assets` array from `stats.json` file?

[2016-11-02 18:08] ghoshnirmalya commented on #3
[code]

[2016-11-02 18:09] ghoshnirmalya commented on #3
I'm not generating the `stats.json`. Should I try generating it?

[2016-11-02 18:11] th0r commented on #3
It would help me a lot. Just use `generateStatsFile: true` option and it'll be generated next to your bundles.

[2016-11-02 18:14] jdalton commented on #5
I don't know but maybe @anvaka knows some.

[2016-11-02 18:16] ghoshnirmalya commented on #3
It didn't generate a `stats.json` file. It showed the error `Could't analyze webpack bundle:...` and then got stuck at that only! Am I missing something here?

I required the plugin using:

`var BundleAnalyzerPlugin = require('webpack-bundle-analyzer').BundleAnalyzerPlugin;`

and added the plugin like:

[code]

[2016-11-02 18:20] th0r commented on #3
Try upgrading to the latest `v1.4.1` and use this:
[code]

[2016-11-02 18:26] ghoshnirmalya commented on #3
I'm using `v1.4.1`.
When I added this code, it worked without any errors but when I checked `git status`, it didn't show me any `stats.json` file!

[2016-11-02 18:34] th0r commented on #3
It should be in `dist` folder according to your webpack config.

[2016-11-03 02:06] sheweichun commented on #8
yeah,I read source code,I just want it to be in the root folder,so change statsFilename to '../stats.json',Thank for your reply

[2016-11-03 02:06] #8 closed

[2016-11-03 02:35] joscha opened #9 "feat: exclude entries"
Would you accept a PR that allows the bundle analyzer to ignore an entry point?

We currently have two entry points - one with `.min.js` and one without. The one with, we send through uglify, the other we don't. The resulting report looks like this: https://aui-cdn.atlassian.com/atlaskit/pr/stats/d8f6cfdb199abff6c0af668b6da94db6c14b64d1/ak-editor-toolbar-text-formatting/with-deps.html but as you c

[2016-11-03 04:41] ghoshnirmalya commented on #3
It's not getting generated.

[2016-11-03 06:27] th0r commented on #9
Well, actually, they shouldn't be the same if analyzer was able to parse them successfully.
But what I can see from your report is that it uses module sizes from stats file, not parsed ones.
How are you generating it?

[2016-11-03 06:30] th0r commented on #4
@Diokuz @PhiLhoSoft @alexindigo @balanceiskey
Could you check if `v1.4.1` solves a problem?

[2016-11-03 12:34] PhiLhoSoft commented on #4
Alas, as said, since I upgraded my libraries and tools, I can no longer reproduce the issue (which is already a good thing, no?).

[2016-11-03 12:45] th0r commented on #4
@PhiLhoSoft I thought you had to remove `DedupePlugin` from config?

[2016-11-03 13:21] trodrigues opened #10 "Report page shows nothing"
Hi there,

I was trying this out by running the two CLI commands mentioned at the end of the readme, and I end up with a generated static report.html that shows just a blank page. There's not even any console or network errors. The code is there in the file, it just doesn't seem to do anything at all.

The stats.json file seems to be generated correctly and with no errors.

I tried this on a coupl

[2016-11-03 13:25] th0r commented on #10
Yes, it would be nice if you could send me `stats.json`. Maybe by email? It's `grunin.ya@ya.ru`.
And what command do you use to generate report?

[2016-11-03 20:06] th0r commented on #3
It's very strange. Have you tried `rm -rf node_modules && npm i`?

[2016-11-03 20:12] kishorevarma commented on #4
@th0r its fixed my issue, having array expression in assets files.

[2016-11-03 20:19] th0r commented on #4
Do you mean array in place of module wrapper?

[2016-11-03 20:23] kishorevarma commented on #4
yeah exactly, following solved my issue :) thanks for that

[code]

[2016-11-03 20:39] guzart opened #11 "Fails when trying to get sizes for sourceMaps"
Throws an error when an external sourceMap file (*.map.js) is part of the stats.json. I believe the problem is when [acorn is trying to parse](https://github.com/th0r/webpack-bundle-analyzer/blob/7b72a2bc5a6484a4695eec6de349323c3f2929ce/src/parseUtils.js#L11) the file.

This could easily be fixed by ignoring all sourceMap files, but am not sure if this is the right approach.

[2016-11-03 20:43] th0r commented on #11
Well, `js` is a strange extension for sourcemap. It should be `map`, or something like that.

[2016-11-03 20:43] guzart commented on #11
Indeed

[2016-11-03 20:43] #11 closed

[2016-11-03 20:44] th0r commented on #11
But I could make logic more bulletproof though...

[2016-11-03 20:50] guzart commented on #11
I don't think there's a need to do that, you are right a sourceMap file should not have a `.js` extension since it's not a valid JavaScript file. Just updated my webpack.config.js, Thanks.

[2016-11-04 02:05] ghoshnirmalya commented on #3
Yes. I've tried it.

[2016-11-04 05:32] joscha commented on #9
I think they show up as different, because the minification is done based on the entry name.

The definition for the two entry points is here: https://bitbucket.org/atlassian/atlaskit/src/79df5c87f48ac9f9d32ce086e503bdf5a7876053/build/webpack/production-cjs.js?at=master&fileviewer=file-view-default

As you can see they refer to the same entry (`dist/bundle.js`) and then two plugins are pushed to t

[2016-11-04 14:37] gpoitch opened #12 "Multi-compiler support"
For webpack configs that return arrays, only one of the bundles has a report generated.
Throws an EADDRINUSE in server mode, presumably trying to launch both.

EDIT: does work correctly in 'static' mode.

## Edit by @valscion

**Help contribute a fix for this issue here: https://github.com/webpack-contrib/webpack-bundle-analyzer/issues/281**

[2016-11-05 17:07] luckylooke opened #13 "npm install ejs needed"
During "npm instal" ejs is listed, but when I ran webpack it fails on `Error: Cannot find module 'ejs'`, so I tried to install ejs manually "npm i ejs" and it works now. Probably some issue with ejs project it self. But at least you should know about this. Thaks for your great tool btw ;)

[2016-11-05 17:11] th0r commented on #13
It's some npm bug. Try to update npm and do `rm - rf node_modules && npm i`

[2016-11-05 17:11] #13 closed

[2016-11-05 18:05] luckylooke commented on #13
might be, but it was on fresh install

On Sat, Nov 5, 2016 at 6:11 PM, Yuriy Grunin <notifications@github.com>
wrote:

[2016-11-06 00:06] mkarajohn commented on #12
I have a `webpack.config` that exports 4 other configs. I am using the plugin in each of them separately and I get 4 report pages. How are you using it?

[2016-11-06 11:22] jiayihu commented on #3
I'm getting the same error:
[code]

My webpack (v 1.13.0) config is this:
[code]

[2016-11-06 13:33] th0r commented on #3
@jiayihu And what is `root.dest`?

[2016-11-06 13:43] th0r commented on #3
@jiayihu What is the reason of starting `/` here?

[2016-11-06 14:36] jiayihu commented on #3
@th0r to make it work with `react-router` when loading the `main.js`. For example to avoid `https://github.com/profile/my-route/main.js` if the file is located in `https://github.com/main.js`.

[2016-11-06 16:42] gdub22 commented on #12
Essentially just this (stripped down) webpack.config.js:
[code]
It tries to start 2 servers and crashes `Error: listen EADDRINUSE :::8888`.
Fixable by defining a different `analyzerPort` for each.
Feel free to close, but might be fixable to work out of the box.

[2016-11-06 19:30] th0r commented on #3
@jiayihu @ghoshnirmalya Can you try `v1.4.2`? I believe I fixed it there.

[2016-11-06 20:06] jiayihu commented on #3
@th0r I confirm it's fixed for me 💥

[2016-11-07 07:39] boa86 commented on #6
+1
interested

[2016-11-07 07:49] boa86 opened #15 "Show correct bundle size after minifications/optimizations"
It''d be very helpfull to see actual size of the bundle (and each part) after any minification/optimization plugins were applyed.
Main reason - some code might be removed, merged and agressive minified. And it might great change overall sizes map.
Currently, it shows bundle parts sizes likely before minification/optimization.

Also, it'd be great, if webpack-bundle-analyzer were able to show actua

[2016-11-07 08:49] th0r commented on #15
@boa86 Analyzer tries to parses your bundles (even minified) and show two sizes in tooltip: `Stat size` and `Parsed size`.
The first one is the size taken from webpack stats json file and the second one is the actual parsed size of a module from generated bundle.

![webpack bundle analyzer zoomable treemap](https://cloud.githubusercontent.com/assets/302213/19711973/908ae002-9b42-11e6-8471-bc8e9ab6

[2016-11-07 09:13] th0r commented on #10
@trodrigues Do you still have this bug with latest version?

[2016-11-07 09:17] th0r commented on #3
@ghoshnirmalya Do you still have this issue with `v1.4.2`?

[2016-11-07 09:22] th0r commented on #4
@TheLarkInn Need your help here, man)

[2016-11-07 10:21] boa86 commented on #15
Thank you for quick report!
You are right. I have experimented with enabling/disabling some of plugins and really found that OccurrenceOrderPlugin damage stat data
https://webpack.github.io/docs/list-of-plugins.html#occurrenceorderplugin

[2016-11-07 10:30] th0r commented on #15
What do you mean? Do you have any problem with it?

[2016-11-07 11:00] boa86 commented on #15
yes, webpack-bundle-analyzer doen't show minified statistics if this plugin is enabled. I have not yet tested it with other webpack configs (will do it later).
Do you have the same behaviour for this case?

[2016-11-07 11:03] th0r commented on #15
I use `OccurrenceOrderPlugin` in one of my projects and analyzer parses bundles as it should.
You're saying that if you add `OccurrenceOrderPlugin` you can't see `Parsed size` in the generated report?
Is there anything in console?

[2016-11-08 04:03] ghoshnirmalya commented on #3
I can confirm it's not fixed for me :/

[2016-11-08 05:51] yoda commented on #10
yeah I seem to, it seems to have something to do with chunking and the way the modules are designated in the stats.json. Structure doesn't seem to match the expected structure. As the datapoints are not generated and not put into the data array.

Providing the json schema of the stats.json from our app. not sure if it will be useful.

[code]

[2016-11-08 06:54] th0r commented on #10
@yoda Yes, schema is not too helpful.

I've just released `v1.5.0` with `statsOptions` option for analyzer plugin so you can exclude any sensitive information from generated stats file.
For example you can exclude module sources from it with `source: false` option like that:
[code]
Maybe you could publish or send me your clipped stats file?

[2016-11-08 07:01] th0r commented on #3
Can you send me your stats file?

I've just released v1.5.0 with `statsOptions` option for analyzer plugin so you can exclude any sensitive information from generated stats file.
For example you can exclude module sources from it like that:
[code]
I just don't know how to help you without it.
Ah, and one more question: what's your OS?

[2016-11-08 07:01] th0r commented on #10
@yoda And what's your OS?

[2016-11-08 07:25] yoda commented on #10
Managed to get it working I had been trying to use the --profile --json on webpack to generate the file but it generates a different file than your plugin creates. I also found another stats plugin that was probably interfering.

[2016-11-08 07:26] yoda commented on #10
And os is Linux vagrant 3.19.0-25-generic #26~14.04.1-Ubuntu

[2016-11-08 07:30] th0r commented on #10
@yoda Nice to hear.
@trodrigues Do you still have this issue?

[2016-11-08 07:31] yoda commented on #10
@th0r Really awesome project gunna help me alot! Depressing to see how bad my bundle is, but at least I can see it now.

[2016-11-08 19:33] okovpashko commented on #15
I have the same issue when I run webpack-bundle-analyzer as CLI tool.
I got both parsed and stat sizes only when I added analyzer as a plugin with analyzerMode: 'static'.

In 'server' mode I get error after report opened in browser.
`Error: ENOENT: no such file or directory, open '/projectdir/node_modules/webpack-bundle-analyzer/views/('style', { filename: 'viewer.css' })'`

[2016-11-09 07:35] ghoshnirmalya commented on #3
OS: Sierra

[2016-11-10 13:45] matteoantoci opened #16 "No report.html"
I have problem very similar to this: https://github.com/th0r/webpack-bundle-analyzer/issues/8

I'm using this configuration:
[code]

But I cannot find any generated html. What am I doing wrong?

[2016-11-10 13:51] matteoantoci commented on #16
My bad, didn't see that the json was generated inside the webpack output folder.
BTW, I'm now using this configuration:

[code]

But still no html is generated.

[2016-11-10 13:59] th0r commented on #16
Where you want it to be generated? In which directory?

[2016-11-10 14:03] matteoantoci commented on #16
Well, it's ok to have it generated inside my webpack bundle folder and then I will adjust it. As I understood, leaving it like that, the plugin will export an html to the bundle folder, but I can't find it =(

[2016-11-10 14:24] th0r commented on #16
Have you tried removing `./` from the filename or completely omit `reportFilename` option?
What is in the console? It should say `Webpack Bundle Analyzer saved report to <report_file_path>`.

[2016-11-10 14:35] abierbaum commented on #15
@th0r It was kind of implied above, but is the parsed sized (ie. minified, shaken, etc) the size that is used for the visualization?

[2016-11-10 14:45] abierbaum commented on #15
@th0r Just double checked and I am not seeing parsed size in my output either.

I get the following output at the end of the build:

[code]
The vendor.bundle.js file exists at that absolute location after the build is complete.  I do not know if it exists at the time that bundle analyzer is attempting to load it.

I am using webpack 2.1.0-beta.25 and running a build with multiple entrypoints and b

[2016-11-10 14:56] matteoantoci commented on #16
Unfortunately, both omitting the `reportFilename` or by removing the './' I get this output:

[code]

I can provide you the full list of plugins/loader I'm using.

[2016-11-10 14:59] matteoantoci commented on #16
If I set to generate the stats.json there's no problem:

[code]

[2016-11-10 18:49] th0r commented on #15
@abierbaum Released `v1.5.1`. It should be fixed there.

[2016-11-10 18:53] th0r commented on #16
Are you sure you correctly added the plugin? I'm saying it because it should output something into the console...
Maybe you've added it to `dev` config, not `prod`?

[2016-11-10 19:00] th0r commented on #3
@ghoshnirmalya I won't be able to help you without it.

[2016-11-10 19:11] abierbaum commented on #15
@th0r Worked great.  Thanks!!!

[2016-11-10 19:49] th0r commented on #4
Released `v1.5.2` with full `DedupePlugin` support (at least hope so 😜)

[2016-11-10 19:49] #4 closed

[2016-11-10 19:54] th0r commented on #15
@okovpashko This is reeaaally strange thing. Can you try `v1.5.2` and fresh `node_modules` install?

[2016-11-10 19:56] th0r commented on #10
@trodrigues Do you have this issue or I can close it?

[2016-11-10 20:01] th0r commented on #6
This is the next thing on my plate. It just requires some work in UI to add module size switcher (stat/parsed/gzipped).

[2016-11-10 20:52] okovpashko opened #17 "Server mode error if nightwatch is installed in the project"
Running analyzer in server mode causes an express error
`Error: ENOENT: no such file or directory, open '/Users/sandro/Documents/PersonalProjects/webpack-bunle-analyzer-ejs/node_modules/webpack-bundle-analyzer/views/('style', { filename: 'viewer.css' })'`
if project has nightwatch as a dependency.

I found that nightwatch also has ejs as a dependency but version 0.8.3 from https://github.com/tj/ej

[2016-11-10 20:53] okovpashko commented on #3
@th0r I described that error and its possible reason in #17

[2016-11-11 07:06] th0r commented on #17
Wow! Thanks for investigation! Will fix it as soon as possible.

[2016-11-11 08:01] #17 closed

[2016-11-11 08:03] th0r commented on #17
`v1.5.3` should fix it.

[2016-11-11 09:07] matteoantoci commented on #16
Yes, I'm sure, it's the prod build, to output the stats I just changed the plugin conf but I've run the same command. Just for information, I'm using these webpacks plugins, in this order: CommonsChunkPlugin, ProvidePlugin, DefinePlugin, BundleAnalyzerPlugin, OccurrenceOrderPlugin, DedupePlugin, AggressiveMergingPlugin, UglifyJsPlugin.

[2016-11-11 09:39] th0r commented on #16
Could you try `v1.5.3`?

[2016-11-11 09:39] th0r commented on #17
Filled bug https://github.com/expressjs/express/issues/3124 about it

[2016-11-11 10:54] okovpashko commented on #17
Thanks a lot for the fix!

[2016-11-11 13:26] matteoantoci commented on #16
I'm using the latest version, so the `v1.5.3`... It's very strange because the `webpack-visualizer-plugin` is working using the same setup =(
I can provide you my complete webpack config if you wish.

[2016-11-11 13:36] th0r commented on #16
It would help, thanks

[2016-11-11 14:19] matteoantoci commented on #16
Here you are:

[code]

[2016-11-13 17:16] mvestergaard opened #18 "Incompatible with webpack 2?"
I'm trying to run this, but the page just starts up blank.

I can see that the chartData isn't set.
`window.chartData = [];`

Would it be safe to assume that this is because I'm using webpack 2?

[2016-11-13 21:18] pburtchaell opened #19 "noInfo property"
What are your thoughts on including a `noInfo` property in the config? I imagine the default value would be `false`. It would be nice to turn off logs, such as this, from the plugin:

[code]

There are cases where one might not want additional information logged.

Thanks!

[2016-11-14 06:56] th0r commented on #19
What about errors?

[2016-11-14 07:00] th0r commented on #18
A few guys I know use it with Webpack 2 and it works just fine.
How do you use it?
Can you generate stats file and show `assets` section from it?

[2016-11-14 07:03] th0r commented on #18
Also, let continue in #10 - problem seems like yours.

[2016-11-14 07:03] #18 closed

[2016-11-14 10:09] th0r commented on #9
@joscha Have you tried the latest version? Are reports for your entry points still the same?

[2016-11-14 20:43] pburtchaell commented on #19
My aim would be to silence general info logs, but not errors.

[2016-11-15 16:52] slestang commented on #10
I have the same issue; empty report.

Also running Ubuntu. My webpack packages:
webpack@1.13.2
webpack-bundle-analyzer@1.5.3
webpack-bundle-size-analyzer@2.2.0

The  main part of my Webpack conf:
[code]
The div#treemap contains 3 canvas, which I suppose match my 3 entry points, but they are all blank.

[2016-11-15 17:20] th0r commented on #10
@slestang can you provide your webpack stats file?

[2016-11-16 09:10] slestang commented on #10
For information, after some debugging by @th0r the issue for me seems to came from trying to use webpack-bundle-analyzer with WebpackDevServer and/or my _dev_ config.
Doing a simple _webpack --config webpack.config.production.js_ generates a non blank report.

I will add that using this plugin on a _dev_ config is certainly not what you want as some pieces of code are removed from the bundles with

[2016-11-18 13:52] pfrohner commented on #10
I had the same issue, replacing "webpack-stats-plugin" with "stats-webpack-plugin" was the solution in my case...

thanks for this awesome tool!

[2016-11-20 07:23] joscha commented on #9
We are on `1.5.3` - is that the version you are talking about?

[2016-11-20 07:26] th0r commented on #9
Yes

[2016-11-21 00:05] joscha commented on #9
yes, still happens: https://aui-cdn.atlassian.com/atlaskit/pr/8b0d99bb34b8260242bc8269b51f670b4e3de434/2016-11-21_10_11_10/stats/ak-avatar/cjs.html

[2016-11-24 12:19] somebody32 commented on #16
Got the same problem yesterday, maybe that will help you @matteoantoci https://github.com/th0r/webpack-bundle-analyzer/pull/21

[2016-11-24 13:42] matteoantoci commented on #16
@somebody32 cool! I will check it as soon as it's merged! Thank you!!

[2016-11-25 12:46] th0r commented on #6
Added in `v2.0.0`

[2016-11-25 12:46] #6 closed

[2016-11-25 15:06] th0r commented on #15
@boa86 Can you try the latest version?

[2016-11-25 15:07] th0r commented on #16
@matteoantoci Have you tried the latest version with @somebody32 fix?

[2016-11-25 15:09] th0r commented on #3
@ghoshnirmalya Can you try the latest version?

[2016-11-25 16:57] konstantin24121 opened #22 "Cannot read property 'parsedSize'"
Error in script.
Console said © Cannot read property 'parsedSize' of undefined

850: r.hasParsedSizes = "number" == typeof r.props.data[0].parsedSize,

[2016-11-25 17:03] th0r commented on #22
What does `window.chartData` variable in generated report contain? Is it empty?

[2016-11-25 19:24] matteoantoci commented on #16
Thank you so much! It works!!
Though I got this now:
[code]

What's the problem?

[2016-11-25 19:31] ghoshnirmalya commented on #3
Sure.

[2016-11-25 19:59] ghoshnirmalya commented on #3
`v2.0.0` fixed it for me. Thanks.

[2016-11-25 19:59] #3 closed

[2016-11-26 05:03] konstantin24121 commented on #22
totaly empty http://joxi.ru/xAeOogEiyZNkmy

[2016-11-26 08:50] th0r commented on #22
Well, then I need all the information from issue template that you erased. It'll simply finding a bug. At least it would be nice to see your stats file.

[2016-11-26 10:03] konstantin24121 commented on #22
https://www.dropbox.com/sh/599ueqfbxq4715n/AACJlV949_dSR2C1m2lXFCtla?dl=0 my webpack config and two generated by WBA files

[2016-11-26 14:05] th0r commented on #22
You use very strange template for bundle filenames: `filename: '[name].js?v=[hash]'`.
What webpack generates in this case? Does your generated bundle files have `?v=[hash]` in the name (e.g. `bundle.js?v=8c80fe52746c2c5eb82e`)?

[2016-11-26 14:07] th0r commented on #22
The thing is analyzer filters out all non-js assets and your js bundles are filtered out as well because they don't have `.js` extension.

[2016-11-26 19:18] #22 closed

[2016-11-26 19:25] th0r commented on #22
Should be fixed in `v2.0.1`

[2016-11-26 19:29] th0r commented on #16
@matteoantoci Seems like you have a tricky bundle and analyzer couldn't parse it to get real module sizes.
Could you send it to me so I can fix it?

[2016-11-26 22:13] #19 closed

[2016-11-26 22:19] th0r commented on #19
Added `logLevel` option in `v2.1.0`

[2016-11-27 06:46] boa86 commented on #15
@th0r Made build with the latest version. All works fine!
Left sidebar very useful too :)
This issue is closed for my case. Thank you!

[2016-11-27 07:04] #15 closed

[2016-11-27 11:02] konstantin24121 commented on #22
@th0r  thanks!

[2016-11-27 11:33] valscion opened #24 "Setup TravisCI or some other CI service?"
Hi,

I saw that this project doesn't currently have a CI service set up. Would you like to have one? I could whip together a PR for any CI service you'd like, so that we could get automated tests for every new Pull Request easily and to avoid regressions :smile:

[2016-11-28 09:09] matteoantoci commented on #16
Sure, I've sent you an email.

[2016-11-28 14:54] th0r commented on #24
Set up Travis CI

[2016-11-28 14:54] #24 closed

[2016-11-28 15:11] th0r commented on #16
@matteoantoci Do you use [`output.jsonpFunction`](https://github.com/webpack/docs/wiki/Configuration#outputjsonpfunction) webpack config option?
I'm asking because it's `webpackJsonplmn_ui_startOBE` in the bundle you sent to me.

[2016-11-28 16:26] th0r commented on #16
Can you try `v2.1.1` - it should be fixed there.

[2016-11-28 16:30] drcmda opened #29 "Could't analyze webpack bundle"
#### Issue description

I am getting this message in the end of the webpack emitts:

    TypeError: Cannot read property 'raw' of undefined Could't find any javascript bundles in provided stats file

#### Technical info
* Webpack Bundle Analyzer version: 2.1.1
* Webpack version: 2.1.0-beta.27
* Node.js version:  v7.2.0
* npm/yarn version: 3.10.5/0.17.9
* OS: Windows 10

#### Debug info
How do you

[2016-11-28 16:33] th0r commented on #29
What are the actual versions behind the `latest`?

[2016-11-28 16:34] drcmda commented on #29
Added it :)

[2016-11-28 16:37] th0r commented on #29
Is `2.1.1` the only version of analyzer you tried or it worked before?

[2016-11-28 16:52] trodrigues commented on #10
Hi, sorry, I'm horrible at keeping up with github notifications.

Yes, I do still have the issue. I'll send you the stats file.

[2016-11-28 17:09] trodrigues commented on #10
By the way, by using the configuration in my webpack file I managed to get this to work.

The problem seems to be only when generating the stats file with `webpack --profile --json > stats.json` and then running `webpack-bundle-analyzer stats.json build`.

If I run `webpack-bundle-analyzer` separately with the stats file generated by using the config in the webpack file, it also works fine.

[2016-11-28 19:36] drcmda commented on #29
2.1.0 the same. I haven't known about it before.

[2016-11-29 13:22] th0r commented on #16
@matteoantoci

[2016-11-30 00:58] sirlancelot opened #30 "Feature Request: Nest modules by dependency graph instead of folder structure"
This is a great tool! I really enjoy visualizations of my work. I think it would be neat if the treemap's nodes were only modules instead of following the folder structure. It might make the map more useful and you can already see the path when you mouseover the node.

[2016-11-30 09:47] th0r commented on #30
But a module can be required by two different modules. How would you show that?

[2016-11-30 10:17] matteoantoci commented on #16
Worked perfectly! Thanks!! =)

[2016-11-30 10:17] #16 closed

[2016-12-01 20:42] th0r commented on #30
@sirlancelot Thoughts?

[2016-12-01 21:06] sirlancelot commented on #30
I think I'd like to see it in both places. Not sure what makes the most sense. I'll have to think about it more. Webpack's own [Analyze](https://webpack.github.io/analyse/) tool is able to create a web but that may not work for the kind of visualization of this tool.

[2016-12-02 14:09] th0r commented on #30
@sirlancelot For example, every react component imports react. How do you want it to be shown in a flat treemap?
What I'm trying to say is treemap is not suitable for many-to-many relationships like this.

[2016-12-07 14:07] valscion opened #32 "Split analyzer from the treemap UI code"
This issue is a place to discuss and track a possible separation of webpack analyzer plugin code from the reporter UI code.

This idea was triggered by a proposal to add [sunburst charts to the UI](https://github.com/th0r/webpack-bundle-analyzer/pull/25), where @th0r and me eventually thought it might be interesting to split these two concerns to distinct packages:

[2016-12-07 15:58] #30 closed

[2016-12-14 12:14] jaydenseric opened #33 "Fix blurry rendering on HiDPI screens"
The vendor library for drawing the chart (Carrot Search FoamTree) [by default configures devicePixelRatio to 1](https://get.carrotsearch.com/foamtree/latest/api/#pixelRatio). This looks really blurry for those of us with Retina, 4k, 5k or even better screens. Let's set this to be dynamic to the device using `window.devicePixelRatio`. It should be an easy tweak.

Also, it's a good idea to add `<met

[2016-12-16 06:09] leosuncin opened #34 "Error when use with grunt-webpack"
#### Issue description
I am using grunt to run webpack-dev-server and build webpack modules, but when run grunt default task it fails, I use [inspect-process](https://github.com/jaridmargolin/inspect-process) to debug the issue and found ``this.activeLevels.has is not a function``, more exactly the error occurs with `webpack-dev-server` task

#### Technical info
* Webpack Bundle Analyzer version:

[2016-12-17 16:04] #33 closed

[2016-12-17 16:05] th0r commented on #10
@trodrigues Fixed and issue with your stats file in `v2.2.0`

[2016-12-17 16:05] #10 closed

[2016-12-17 16:05] th0r commented on #33
Thanks for an issue! Fixed it in `v2.2.0`

[2016-12-19 04:11] kMeillet commented on #29
Same problem with :

[code]

[2016-12-19 09:07] ganapativs commented on #29
Same issue (Could't find any javascript bundles in provided stats file).

"webpack": "2.1.0-beta.20",
"webpack-bundle-analyzer": "^2.2.0"

[2016-12-20 09:55] trodrigues commented on #10
Great :) Thanks!

[2016-12-20 13:30] christianalfoni commented on #29
Yeah, same with Webpack 2.1.0-beta.28... maybe a change to stats file? Looking into it now

[2016-12-20 13:54] christianalfoni commented on #29
Seems to be fixed here: https://github.com/gbakernet/webpack-bundle-analyzer/commit/b033c3ac7888d651686ac733fe7af92e54a18a5d

It worked on my end, though I have an issue with parsing bundles... so can not get gzip etc. stuff

[2016-12-21 03:05] alifr commented on #29
I'm not getting the TypeError, but I have a similar issue concerning the "Couldn't parse bundle asset..." and not getting the gzip stats. All my modules are AMD as we recently switched from requireJS.
"webpack": "^2.2.0-rc.0"
"webpack-bundle-analyzer": "^2.2.0"

[2016-12-21 23:04] unsafecode commented on #29
Same issue with `webpack@2.1.0-beta.22` and `webpack-bundle-analyzer@2.2.0` (global)

[2016-12-22 12:45] eshion commented on #29
Same issue:
"webpack": "^1.13.3",
"webpack-bundle-analyzer": "^2.1.1",

[2016-12-22 15:49] alanrubin commented on #29
Experiencing the same issue here, the change proposed above fixed it.
"webpack": "^1.12.14",
"webpack-bundle-analyzer": "^2.2.0",

[2016-12-23 15:32] th0r commented on #29
Published `v2.2.1` with the fix.

[2016-12-23 15:36] th0r commented on #29
@christianalfoni @alifr Could you send me your bundles to try to fix these parsing problems?

[2017-01-02 09:25] valscion commented on #32
I didn't hack on this on Christmas break but instead hacked on something completely different from work related matters to get a good vacation 🎅 . If I'll get to this, I'll let you know.

[2017-01-03 08:46] christianalfoni commented on #29
@th0r You only need the built bundles right? Not the source?

[2017-01-03 08:49] th0r commented on #29
@christianalfoni yep, only problematic bundles

[2017-01-03 08:58] christianalfoni commented on #29
Hm, how do I get the bundles to files? They are kept in memory it seems?

[2017-01-03 09:12] th0r commented on #29
@christianalfoni are you analyzing dev bundle that is being served by webpack-dev-server?

[2017-01-03 09:14] christianalfoni commented on #29
@th0r Jup, exactly :) I should just turn off devServer?

[2017-01-03 09:33] th0r commented on #29
@christianalfoni well, in case of dev-server there are no physical bundles to parse - they're all locate in memory.
Recommended way to use analyzer is to inspect your production bundles because in most cases module sizes there will differ a lot from dev version.

[2017-01-03 12:02] christianalfoni commented on #29
Oh, wait... actually, the dev server is not running. I am running analyzer with production mode. So basically it is the same as when we build our production bundles, only that we add the analyzer plugin. Is it because we use the `server` config? Does it create the bundles when we do a `static` output instead?

[2017-01-03 19:40] christianalfoni commented on #29
No, wait... of course, sorry... I was confused by our config. It is of course running webpack-dev-server. Here is the file with the issue, run with normal webpack :)

[82a297b7ce067dbcc55c.js.zip](https://github.com/th0r/webpack-bundle-analyzer/files/683068/82a297b7ce067dbcc55c.js.zip)

[2017-01-05 15:57] thebuilder opened #36 "Latest version of webpack-merge causes issue with Logger"
#### Issue description
First off, i'm not sure if the problem is with bundle analyzer or webpack-merge. :)

I've compared the final webpack config, and it is exactly the same with webpack-merge 2.0.0 and 2.1.0 - So really not sure what's going on. Maybe a conflicting dependency?

However i get this error when running with webpack-merge 2.1.0:

[code]

This also seems to be the same error as in #34

[2017-01-05 21:09] tleunen commented on #6
@th0r gzip doesn't seem to work in a static mode, do you confirm?
I only see the stat size

[2017-01-06 08:51] thebuilder commented on #36
webpack-merge 2.2.0 seems to have fixed this bug. 👍

[2017-01-06 08:51] #36 closed

[2017-01-06 19:40] frankleng commented on #29
ran into the same issue today.
it worked wonderfully before, but have made a few code changes since then.

worst case I'll git bisect this. love the project @th0r!

[2017-01-10 16:53] akatechis opened #37 "Bundle analyzer in server mode crashes when running webpack in --watch mode"
#### Issue description
I'm using webpack in watch mode, and the bundle analyzer to analyze/serve the analysis in browser. The initial run works great, but when I modify a file, the bundle analyzer causes the process to crash with the following error:

[code]

Looks like it's trying to create a new server with the same port to host the file.

#### Technical info
* Webpack Bundle Analyzer version: 2

[2017-01-12 14:19] megaboich opened #38 "Browser hangs while navigating through report."
#### Issue description
I have quite big report generated for ~4Mb bundle.
While navigating it browser hangs and after time suggests to kill the tab.
This occurs almost immediately in Chrome. In Firefox it lasts a bit longer, but hangs after 3 or 4 navigations.   Surprisingly works well in Edge, which shows that this browser could be used at least for  something.

#### Technical info
* Webpack Bund

[2017-01-13 22:06] InSuperposition commented on #29
I'm having a similar issue, after initial install webpack-bundle-analyzer worked as expected. On second attempt I get:
[code]

webpack: "^2.1.0-beta.27",
webpack-bundle-analyzer: "^2.2.1",
node: 4.5.0
OS X

[2017-01-16 11:00] matteoantoci commented on #29
I can confirm, I'm getting this error since I introduced the `CommonsChunkPlugin`:

[code]

"webpack": "^1.14.0",
"webpack-bundle-analyzer": "^2.2.1",
"webpack-dev-server": "^1.16.2"
node: 6.6.0
OS X

[2017-01-19 19:57] tinder-vjancik opened #39 "Doesn't respect Webpack "externals""
#### Issue description
I use:
[code]

and the production bundle size obviously goes down, (by 60kB), but all of those libraries still show up in the bundle composition map of the *bundle-analyzer*.

#### Technical info
* Webpack Bundle Analyzer version: 2.2.1
* Webpack version: 2.2.0
* Node.js version: 6.9.1
* npm/yarn version: npm -> 3.10.8
* OS: OS X 10.12.2

#### Debug info
How do you use this

[2017-01-20 07:42] th0r commented on #39
What sizes they have in treemap?

[2017-01-21 07:49] valscion commented on #32
I'm gonna give this a go now. @bitpshr, would it be OK to try to get [your beautiful sunburst chart](https://github.com/th0r/webpack-bundle-analyzer/compare/master...bitpshr:sunburst-chart?expand=1) to work first? It could be created as a `webpack-bundle-analyzer-reporter-sunburst` for example, if we'd want to try to prefix all the different reporters with `webpack-bundle-analyzer-reporter-` to ea

[2017-01-21 16:10] valscion commented on #32
Continuing from the refactoring done in #40, the [current situation](https://github.com/th0r/webpack-bundle-analyzer/tree/84bb739330f5e7b2b6306f7ff2613adff07b8ad0) has a folder structure looking like this:

[code]

The only things reaching into top-level `client`, `public` and `views` folders are the root-level `webpack.config.js` and code under `src/viewer`.

**Those folders and the webpack confi

[2017-01-21 20:44] valscion commented on #32
Here's a proof of concept example showing what the code layout could look like: https://github.com/valscion/webpack-bundle-analyzer/pull/1

The reporter used could be customized with the CLI flag `--reporter` or `-R`, providing it either a npm package name or an absolute path to a file exporting `generateReport` and `startServer` functions as described in my post above.

Another way to customize t

[2017-01-26 16:12] Koslun commented on #29
Same error with default options & `analyzerMode` set to 'static':
[code]

Some dependencies:
[code]
The app itself is an angular app for what it's worth.

node: v6.9.1
OS: Ubuntu 16.04, OS X & Windows 10

It did work for us in december of 2016 but unsure when exactly it broke and why. We did change from using md5 hashing to just regular build hashes. But turning of hashes altogether at least does

[2017-01-29 12:39] valscion commented on #29
I have trouble trying to understand what I need to setup in order to replicate this issue.

The `stats.zip` file in the original issue seems to work splendidly. If this has something to do with the combo of the stats file plus the built files, I would need them _both_ in order to debug this further.

It seems that @christianalfoni has an issue with the built file you uploaded. What's the stats.jso

[2017-01-29 12:46] valscion commented on #38
I am not able to reproduce this. Can you test out this static report file whether it hangs? I generated it from your attached stats.json file.
[report.html.zip](https://github.com/th0r/webpack-bundle-analyzer/files/737512/report.html.zip)

If this doesn't hang, could you zip over the static HTML report your build created?

[2017-01-29 12:56] valscion commented on #34
Does this same thing happen if you change the `logLevel` from the `BundleAnalyzerPlugin`configuration to something else than `silent`? Try out `info` for example.

[2017-01-29 13:03] valscion commented on #37
Yes, seems like the server mode tries to restart the server when it is already complete.

Using a `--watch` mode is currently unsupported.

[2017-01-29 13:09] valscion commented on #12
One way to do this is exactly to set a different `analyzerPort` for each instance, or if using `static` mode, to set different `reportFilename` options for each instance.

The way `assets-webpack-plugin` works in multi-compiler mode is by only creating one instance of the plugin and adding that instance to the `plugins` array: https://github.com/kossnocorp/assets-webpack-plugin/tree/v3.5.1#using-i

[2017-01-29 14:04] valscion commented on #32
I'll answer my own question:

I don't think this actually is a good split point, or at least not the best API.

I'd like to test out a monorepo approach for here, to really separate the `reporter-treemap` as its own npm package and to fine-tune the custom reporter API to be better.

For that, I'd also like to redo some build and test infrastructure currently on the repository to get better test co

[2017-01-29 15:46] jovinbm commented on #29
@valscion I have a multi-compiler webpack setup with the DLLPlugin, DLLReferencePlugin, and CommonChunks Plugin. One particular entry point in my stack uses `require.ensure` about 4 times.

I've tried the following:
* Refrain from using the DLL plugins: Still get the same error.
* Refrain from using the CommonsChunk Plugin: Still get the same error.
* Refrain from both DLL and CommonsChunk Plugin:

[2017-01-29 16:10] valscion commented on #29
It's strange, as we are boasting `CommonsChunkPlugin`, too, and don't have any trouble. We also use `require.ensure` and those chunks show up correctly, too.

Have you tried to not use a multi-compiler webpack setup?

It seems that this error is potentially caused by a multitude of things. Most likely the line where the error is raised (`TypeError: Cannot read property 'raw' of undefined`) comes f

[2017-01-29 16:30] matteoantoci commented on #29
I use `CommonChunkPlugin`, `DllReferencePlugin` and the `promise-loader` (pretty similar to `require.ensure`).
I can confirm the issue can be reproduced when setting the `analyzerMode ` to `static`.

Setting it to `disabled` the analyzer works correctly and it generates the json stats file.

[2017-01-29 17:05] jovinbm commented on #29
@valscion. Thank you for the prompt response. I will try your suggestions later today and post back here.

[2017-01-29 18:40] valscion commented on #29
@matteoantoci, were you able to reproduce this issue with the steps I outlined?

1. Generate the `stats.json` file by running the plugin like this:

[code]
2. Run the generated ` stats.json` file (it will be in your bundle output directory) through the CLI:

[code]

If these steps worked, try without the `statsOptions` setting. Do you then get the error?

If you don't get the error even then, try

[2017-01-29 18:58] leosuncin commented on #34
Change `logLevel` to info and got a new error "this.activeLevels.has is not a function"
[code]
Options passed to `BundleAnalyzerPlugin`
![Options](http://i.imgur.com/swAg7sm.png)
Call stack and scope for the error
![Call stack and scope](http://i.imgur.com/ZmveknO.png)

[2017-01-29 19:05] valscion commented on #34
I'm sorry but it seems that the screenshot of call stack and scope for the error is missing?

[2017-01-29 19:07] valscion commented on #34
Can you set a breakpoint on line 70 in

[code]

and take a screenshot, what does `this` contain and what does `this.logLevel` contain?

[2017-01-29 21:13] leosuncin commented on #34
![Breakpoint](http://i.imgur.com/bSD31eC.png)
[code]

[2017-01-31 00:50] dzearing opened #41 "Feature request: View dependents"
#### Issue description

I love this plugin; this is an absolutely awesome way to understand the contents of a bundle, but once we see the things making our bundle huge, we end up asking how it even got there. A lot of times, especially in large projects, it isn't obvious.

It would be AWESOME to be able to click on a module box and somehow get a list of other modules that reference said thing. The

[2017-01-31 08:40] valscion commented on #41
Great idea! It might be possible to extract this information the webpack stats `reason` field. It can be seen from [this example stats file](https://raw.githubusercontent.com/webpack/analyse/master/app/pages/upload/example.json).

Would those details present in the `reason` fields contain the information you'd like to see, @dzearing?

[2017-01-31 08:43] valscion commented on #34
Huh, that's weird. The `this.activeLevels` seems to be just an empty object and not a `Set` as it was in your previous screenshot https://github.com/th0r/webpack-bundle-analyzer/issues/34#issuecomment-275936863

There does seem to be some sort of a bug. Are you able to provide a minimal repository for your issue, @leosuncin, that I could run to get the same error myself? Without that, we can only

[2017-01-31 15:47] matteoantoci commented on #29
Here I am. Yes I tried with the above options. The stats.json is generated but then, when I try to parse it through `webpack-bundle-analyzer`, it rises the same exception.

Here is the generated json: [stats.json.zip](https://github.com/th0r/webpack-bundle-analyzer/files/742404/stats.json.zip)

[2017-01-31 17:12] dzearing commented on #41
@valscion yes that's exactly it. Imagine some ui like, hover of specific module and says:

Included from:

+ ModuleA (require)
+ ModuleB (require.ensure)

etc

Which can be expanded in the ui somehow that we can drill the whole graph path. If you expand and there is a linear list, it expands all the children. If there is a node that was pulled from more than 1 module, it stops expanding at that po

[2017-01-31 19:03] th0r commented on #34
Here is the similar issue: https://github.com/th0r/webpack-bundle-analyzer/issues/36
It was a bug in `webpack-merge`. I think this is the same issue.

[2017-01-31 19:16] th0r commented on #32
Sorry @valscion, I'm currently have very tough deadline on work so don't have time to look at it, but will do it as soon as I can!
Thanks!

[2017-02-01 08:46] valscion commented on #41
That would be nice. It also sounds like a use case for a separate reporter UI, if we'll get #32 done at some point :).

I don't think we're able to do the reporter changes ourselves easily here, as the treemap reporter we're using is not controlled by us, if I've understood correctly.

[2017-02-01 08:50] valscion commented on #29
I'm sorry but the stats.json isn't enough for me to replicate it:

![screen shot 2017-02-01 at 10 47 48](https://cloud.githubusercontent.com/assets/482561/22500241/eecbce4e-e86b-11e6-9dcc-fc208089e1e2.png)

If the `stats.json` is in the same directory as the bundled sources, the CLI will look into that directory for the original assets. That's why you're able to replicate it on your machine, as yo

[2017-02-01 15:03] matteoantoci commented on #29
Sure, here you are: [Archive.zip](https://github.com/th0r/webpack-bundle-analyzer/files/745186/Archive.zip)

[2017-02-01 15:05] valscion commented on #29
Yess, I'm able to reproduce this. I'll look into it, thanks @matteoantoci :+1:

[2017-02-01 15:30] valscion commented on #29
Ok, #42 would allow you to generate the report but it won't still be able to show you the information the plugin fails to collect for some reason.

If you want to give it a shot, and maybe test out what parts of your code might cause the issue, there's hopefully good instructions in [CONTRIBUTING.md](https://github.com/th0r/webpack-bundle-analyzer/blob/master/CONTRIBUTING.md) on how to test-drive

[2017-02-02 09:05] matteoantoci commented on #29
@valscion I confirm it works, I think that should be a nice fix. BTW, the problematic modules are the one marked as "ignored", did I understand correctly?

[2017-02-02 13:57] valscion commented on #29
:tada: Yess, great to hear that!

If you mean the ones missing `gzip sizes` and `parsed sizes` then yes, those were problematic for some reason.

[2017-02-02 13:58] valscion commented on #29
If others that had issues could also try #42 with the instructions I posted earlier: https://github.com/th0r/webpack-bundle-analyzer/issues/29#issuecomment-276687904, that would be super valuable ☺️

[2017-02-03 05:06] harilalinapp opened #43 "How to use it with angular-cli project?"
#### Issue description
...

#### Technical info
* Webpack Bundle Analyzer version:
* Webpack version:
* Node.js version:
* npm/yarn version:
* OS:

#### Debug info
How do you use this module? As CLI utility or as plugin?
would like to use as CLI utility. But can't create stats.json

If CLI, what command was used? (e.g. `webpack-bundle-analyzer -O path/to/stats.json`)

If plugin, what options were

[2017-02-03 07:49] valscion commented on #43
I'm sorry but I don't understand what you are asking. I'd need you to fill in the issue description with much more detail and also provide the technical info.

[2017-02-03 16:33] Koslun commented on #29
@valscion Using #42 allowed me to successfully produce the graph with one chunk ignored. The node_modules imports in that chunk are:

[code]
Where only certains methods of lodash are imported:

[code]

Validated imports of chunk using https://chrisbateman.github.io/webpack-visualizer/.

[2017-02-03 19:55] valscion commented on #29
Yess, great to hear that #42 works for you, too, @Koslun! ☺️

I have no knowledge why these specific cases would cause issues. In our application, we also use lodash and import specific modules from there so I doubt it's the culprit.

It would be superduper awesome if you're able to bisect by commenting out some imports until you reach a place where commenting out a small chunk "fixes" the parsed

[2017-02-03 23:53] Koslun commented on #29
Ok. I'll try to get around to it this weekend but I might not end up doing it until sometime next week.

Makes sense and this library doing all that work is definitely very valuable and the biggest reason why I normally only use this library to analyse the bundles.

[2017-02-04 09:55] valscion commented on #29
No worries :). I've got some ideas on how to implement a thorough test suite for this part of the code but I'm waiting for @th0r to get some time to discuss future improvements ☺️

[2017-02-04 13:33] valscion commented on #29
Ok, seems like this issue stems not from the modules inside the bundle, but how webpack has bundled the modules together.

Normally, a chunk starts with something like this:

[code]

But at least in @matteoantoci's case, the troublesome chunk starts like this:

[code]

This case is not handled by the utility parsing the module object back from the compiled source using AST parser, [`parseUtils.js`

[2017-02-04 14:51] valscion commented on #29
Please go test out #44 for a proper fix! It should work for the `TypeError: Cannot read property 'raw' of undefined` case.

If you still get that error with your bundle, I'm gonna need your compiled sources to check this out. I might be able to figure this out with just first 1000 characters of your bundles if you can't publish your entire compiled code.

[2017-02-05 14:30] matteoantoci commented on #29
@valscion tested it and it worked perfectly!! =)

[2017-02-06 12:41] Koslun commented on #29
@valscion also tested #44 now and it worked perfectly for me too :)

[2017-02-07 03:36] InSuperposition commented on #29
Its working for me, Thank you!

[2017-02-07 08:18] valscion commented on #43
Is this your issue? ☝️

I have no knowledge about `angular-cli`. Does `angular-cli` allow you to define custom webpack configuration or add plugins?

[2017-02-08 03:49] frankleng commented on #29
#44 worked for me too!

[2017-02-08 20:40] #29 closed

[2017-02-08 20:55] th0r commented on #43
@harilalinapp Be more specific please.

[2017-02-08 20:55] #43 closed

[2017-02-08 20:56] th0r commented on #34
@leosuncin Do you still have this issue?

[2017-02-08 20:57] th0r commented on #39
@tinder-vjancik Could you provide additional info that I asked [here](https://github.com/th0r/webpack-bundle-analyzer/issues/39#issuecomment-273998251)?

[2017-02-08 21:21] jharris4 opened #46 "Libs were not updated in npm for version 2.2.2"
#### Issue description

[code]

[code]

[code]

Looks like the lib directory didn't get updated when 2.2.2 was published to npm.

#### Technical info
* Webpack Bundle Analyzer version: 2.2.2
* Webpack version: 2.2.1
* Node.js version: 7.5
* npm/yarn version: 4.1.2
* OS: MacOS 10.12.3

#### Debug info
How do you use this module? As CLI utility or as plugin?

If CLI, what command was used? (e.g. `we

[2017-02-09 06:48] th0r commented on #46
Sorry about that, my mistake 😬

[2017-02-09 06:48] th0r commented on #46
Fixed in `v2.2.3`

[2017-02-09 06:48] #46 closed

[2017-02-09 20:43] megaboich commented on #38
Hi @valscion
Well, I can confirm that I can still reproduce this issue, but only on my laptop running Windows 10.
On my another laptop running Ubuntu this page is working without any problems both in Chromium and Firefox.
Probably this issue is somehow platform-graphic drivers specific because of intensive canvas drawing operations.
Presumably I need to target this issue to drawing diagram compone

[2017-02-10 07:22] valscion commented on #38
An issue with the platform-specific graphic drivers seems very nasty, and also likely.

The library used is a demo variant of some commercial treemap code: https://github.com/th0r/webpack-bundle-analyzer/blob/master/client/vendor/carrotsearch.foamtree.js

I don't know the history of that reporter.

If we'll get to actually implementing #32 we could create a new reporter with another treemap visual

[2017-02-12 05:50] SukantGujar opened #47 "Unexpected token � in JSON at position 0"
#### Issue description
wba is reporting this error on a valid stats.json file.

#### Technical info
* Webpack Bundle Analyzer version: 2.2.3
* Webpack version: 2.2.1
* Node.js version: 6.9.1
* npm/yarn version: 3.10.8/0.19.1
* OS: Windows 10

#### Debug info
How do you use this module? As CLI utility or as plugin?
As CLI
Generated stats with
`webpack --profile --json > dist/stats.json`

If CLI, wh

[2017-02-13 07:35] MarshallOfSound opened #49 "Incompatible with webpack 2"
#### Issue description

Was working brilliantly till I attempted to update to WebPack 2.2.0

#### Technical info
* Webpack Bundle Analyzer version: 2.2.3
* Webpack version: 2.2.0
* Node.js version: 6.9.3
* npm/yarn version: 0.18.1 (yarn)
* OS: macOS

#### Debug info
How do you use this module? As CLI utility or as plugin?

Tried both, same result

If CLI, what command was used? (e.g. `webpack-bund

[2017-02-13 08:04] valscion commented on #49
I don't think it is a compatibility problem with webpack 2.2.0, as @Koslun uses it and it works for him, right?

So there's something else to this. Are you able to create reproduction repository for your issue? Without some way of us being able to reproduce this error, there's little we can do.

[2017-02-13 08:24] valscion commented on #47
For some weird reason, your `stats.json` has a [Byte Order Mark (BOM)](https://en.wikipedia.org/wiki/Byte_order_mark) in there, which causes the reporting to fail.

I don't know how that got in there... [This issue in webpack repository](https://github.com/webpack/webpack/issues/2868) seems to be the only one mentioning a BOM character.

Are you sure you haven't opened the `stats.json` in some tex

[2017-02-13 08:33] MarshallOfSound commented on #49
Even better I managed to track it down, not sure if you would accept this as a fix but a PR with what I hacked in to make it work is incoming 👍

[2017-02-13 13:52] SukantGujar commented on #47
That's odd. But no I haven't opened it up _before_, only after the error was displayed, I used Sublime to view it. And the one attached in this thread is straight from the tool. A possibility is that the LodashModuleReplacementPlugin plugin is somehow causing it, I had an issue in the past where a plugin injected its log into the webpack output, thereby breaking the json.

[2017-02-13 14:19] Koslun commented on #49
@valscion @MarshallOfSound If it is still relevant I can confirm that it is indeed working on webpack@2.2.1 using webpack-bundle-analyzer@2.2.3.

[2017-02-13 16:00] valscion commented on #47
I don't think this is a bug in webpack-bundle-analyzer as the BOM shouldn't get into the stats file in the first place.

The bug is in whatever put the BOM in your stats.json, not WBA

[2017-02-13 16:00] valscion commented on #49
Thanks @Koslun, that is relieving to hear :)

[2017-02-13 16:07] valscion commented on #49
Hey would you be able to get a stats.json out by running webpack itself with the `--stats` flag and piping the output to a file?

[code]

This might work as it doesn't require this plugin to be present at all

[2017-02-13 18:25] th0r commented on #47
This `stats.json` file is broken. Even `node` can't require it:
[code]

[2017-02-13 18:25] #47 closed

[2017-02-13 18:29] th0r commented on #49
I have a theory about the reason for this bug but I need stats file to prove it.
@MarshallOfSound Could you generate stats file with `webpack --json > stats.json` as @valscion suggested?

[2017-02-13 18:30] th0r commented on #39
@tinder-vjancik If you won't be able to provide additional info I'll have to close this issue because seems like you're the only one that faces it.

[2017-02-13 18:31] #34 closed, assigned to nobody

[2017-02-13 18:43] th0r commented on #38
Sorry, can't really do anything here but as @valscion noted you'll be able to make your own reporter as soon as we address #32.

[2017-02-13 18:43] #38 closed

[2017-02-14 03:52] SukantGujar commented on #47
Thanks @valscion and @th0r. After saving the generated file as UTF-8 in Sublime, the stats file displayed correctly with wba. FWIW, the source code is [available here](https://github.com/SukantGujar/webpack-split-experiments), in case you wish to try it out at your end. I tested it without LodashReplacementPlugin, but the issue remained, so I guess it could either be a weird environmental issue, o

[2017-02-14 05:07] SukantGujar commented on #47
Turned out to be an [encoding issue with Powershell](https://www.kongsli.net/2012/04/20/powershell-gotchas-redirect-to-file-encodes-in-unicode/). For future users stumbling across this, use the following command to get build stats file in Powershell -
`webpack --profile --json | Out-file 'dist/stats.json' -Encoding OEM`

[2017-02-14 11:39] valscion commented on #47
Hey that's a great find, @SukantGujar! I created a PR to document this in case someone else stumbles upon the same issue: #51

[2017-02-15 23:17] InSuperposition opened #52 "Add a default view override option to the config object"
From both a config object and the cli tool, I'd like the ability to set the initial view for the file size out to be set to 'Gzipped' or any other available option.

Thanks for the great work.

[2017-02-17 00:00] eirikurn opened #53 "Feature suggestion: Package Dependency Tree"
I've created a proof-of-concept package dependency algorithm using the `reasons` metadata which might make this tool even more useful.

Instead of creating a tree of modules based on their location in the file system, it creates a tree where leafs are modules but non-leaf (folder) nodes are packages and connections are module/package dependencies. This shows more clearly the complete size of insta

[2017-02-17 00:02] eirikurn commented on #53
I imagine this would work well with the split analyzer and ui code, a la #32 and #40. It might also be useful for #41.

[2017-02-26 02:51] ericclemmons commented on #6
Noticed the same thing:

[code]

[2017-02-26 09:34] valscion commented on #6
Gzip size reporting needs access to your build directory. If your other built files are in the same folder as the `stats.json`, you'll get the GZip sizes automatically. Otherwise you'll need to pass the assets build directory to the CLI with a second parameter.

[2017-02-27 06:30] ruiaraujo opened #54 "Fails to parse bundle asset."
#### Issue description
I am using the analyser as a plugin to get the gzipped stats.
Recently some code change caused this to happen.

Couldn't parse bundle asset "main-1468dcadd5cb43aed7c5.js".
Analyzer will use module sizes from stats file.

#### Technical info
* Webpack Bundle Analyzer version: 2.3.0
* Webpack version: 2.2.1
* Node.js version: 6.9.2
* npm/yarn version: 4.1.2
* OS: OSX 10.11

##

[2017-02-27 22:29] dylanjha commented on #15
@th0r  - could you please elaborate here:

What does it mean when Stat size and Parsed size are different? If I'm trying to decrease bundle size which one should I be looking at?

Thank you for this tool 👍

[2017-02-28 08:19] valscion commented on #15
Parsed size is the one after minification. Stat size is the size of your original modules, before minification.

So you should be looking at parsed size if you want to decrease bundle size.

Stat size might have dead code that gets eliminated with minification, e.g. React package size will be very different if you run it minification and `NODE_ENV=production` than without.

[2017-03-01 13:30] zzzgit opened #55 "what is state size and what is parsed size?"
Hello,I would like to ask what does state size and parsed size mean?

[2017-03-01 14:08] th0r commented on #55
https://github.com/th0r/webpack-bundle-analyzer/issues/15#issuecomment-282972918

[2017-03-01 14:08] #55 closed

[2017-03-01 20:20] valscion commented on #54
Thanks for creating the issue :+1:. I don't have time right now to look into this but I will look at this when I do 😊

[2017-03-02 08:06] ruiaraujo commented on #54
Thanks for helping with this tool.

BTW I was able to work around the problem by using NamedModulesPlugin when running this plugin.

[2017-03-02 08:17] valscion commented on #54
Ok, great to hear that!

[2017-03-03 19:31] michaek commented on #49
@th0r I'm running into the same issue, from the CLI. My `stats.json` seems pretty verbose to post here, so I was hoping to create a tiny example shortly.

[2017-03-03 19:37] michaek commented on #49
I just realized that when I say "the same issue", I should be more explicit. All I'm seeing output when I run `webpack-bundle-analyzer stats.json dist` is "Could't find any javascript bundles in provided stats file".

[2017-03-04 13:09] valscion commented on #49
A small reproduction case would be highly appreciated ☺️. The `stats.json` can be zipped and uploaded here, in case you are not able to create that tiny example.

It will contain your source codes, though.

[2017-03-04 13:51] valscion commented on #54
I can replicate this issue. For some reason, your main bundle files look like this:

[code]

As you can see, the `webpackJsonp` has _three_ arguments. I'll have to dig to webpack sources to figure out why this happens... but that is the reason why the current code can't find the modules from your bundle.

[2017-03-04 18:33] valscion commented on #54
Ok #56 should fix your issue. I suppose your root cause might've been the same as what @christianalfoni had in https://github.com/th0r/webpack-bundle-analyzer/pull/44#issuecomment-278588447

[2017-03-05 08:46] AvraamMavridis commented on #49
I am experiancing the same issue

[code]

In webpack settings I have:

[code]

[2017-03-05 13:09] valscion commented on #49
@AvraamMavridis can you provide the stats.json for your case? Instructions are earlier in this thread

[2017-03-05 16:11] AvraamMavridis commented on #49
@valscion  here you are
[stats.json.zip](https://github.com/th0r/webpack-bundle-analyzer/files/819436/stats.json.zip)

[2017-03-06 07:55] valscion commented on #49
Umm your `stats.json` only contains the text `undefined`. How did you generate it?

Did you try running

[code]

[2017-03-06 08:05] AvraamMavridis commented on #49
@valscion oh, will give it another try. And upload.

[2017-03-07 13:05] pgoergler commented on #49
I have isssue too with webpack2.
[code]

[stats.json.zip](https://github.com/th0r/webpack-bundle-analyzer/files/824411/stats.json.zip)

[2017-03-07 14:17] valscion commented on #49
Hiya @pgoergler! I'm not able to reproduce your error without having the built sources, too. Can you upload those with the stats file?

[2017-03-07 20:31] pgoergler commented on #49
it happens when i use webpack-dev-server

[2017-03-08 13:16] valscion commented on #49
Hmm, I don't think this plugin was intended to work with `webpack-dev-server`. Try using this plugin without the dev server.

[2017-03-08 14:50] AvraamMavridis commented on #49
For me the issue was my order of plugins, putting bundle analyzer in the first place solves the problem.

[2017-03-09 07:11] #54 closed

[2017-03-12 17:51] elfey opened #57 "Shut server down as soon as browser page is opened"
There should be an option where as soon as the stats are opened in the browser, the server shuts down that way developers can still see their stats and don't have to `ctrl+c` every time they make a build.

[2017-03-13 07:49] valscion commented on #57
Thank you for your feature request ☺️

I get where you're coming from. I myself kinda like being able to refresh the stats page at will without the server closing down underneath.

I think adding this feature would be a tad too complicated to implement, and we'd want to focus our efforts on something else. I don't think we'd want to maintain it, as it would be quite easy to break by accident and i

[2017-03-16 11:44] wenkanglin opened #58 "Can't use with memory-fs ?"
#### Issue description
https://webpack.js.org/api/node/#compiling-to-memory

I want to use `webpack-bundle-analyzer` with `memory-fs`, for not output to the specified files on disk. But this will cause error:
[code]

#### Technical info
* Webpack Bundle Analyzer version: 2.3.1
* Webpack version: 2.2.1
* Node.js version: 7.7.1
* npm/yarn version: 4.1.2
* OS: Windows 7

#### Debug info
How do you us

[2017-03-16 12:41] valscion commented on #58
Hi! Are you able to see the stat sizes anyway? The error you are getting should mean that we aren't able to show you the Gzipped or minified sizes, but you might still be able to see the stat sizes.

The plugin currently reads the bundled files from the filesystem, so I'm afraid we don't (yet) support analyzing in-memory bundles.

This is the first time I've heard of the `.outputFileSystem` config

[2017-03-16 12:44] valscion commented on #52
Hi, and thanks for the feature request!

I've sometimes also wanted to have such a configuration option, so I get where you're coming from. Unfortunately, with the current approach and architecture doing this change would be a big effort so it won't happen anytime soon.

Should we also at some point support additional visualizations (see #32), this configuration option would have to be special for

[2017-03-16 12:57] wenkanglin commented on #58
Yes, it is. This is able to see the stat sizes.
I just want to add a new node command, like: `npm run analyse`, specifically used to analyze the webpack bundle, and don't want to writes the output to the specified files on disk, because the `npm run build` will be used to. So, I use the `outputFileSystem` with `memory-fs` for output files in memory.

[2017-03-16 13:12] valscion commented on #58
Ok, thanks! Why don't you want to write the specified files to disk? I'm just curious :)

[2017-03-16 13:29] wenkanglin commented on #58
Whenever I run build with below webpack config:
[code]
The `manifest` file will change, maybe I just don't want to commit code frequently by git 😊

[2017-03-16 13:29] wmertens commented on #41
I would already be happy if I could hover over a module and the consumers were colored one way, and the deps another way. Maybe that is easier to achieve…

[2017-03-16 13:33] wenkanglin commented on #58
Ask a question: Where is the gzip size from ? I didn't use the gzip

[2017-03-16 13:44] valscion commented on #58
Have you considered ignoring those built files from `git` altogether? You don't usually want to want to commit built files to git anyway. See https://help.github.com/articles/ignoring-files/ for more details on ignoring. If you already knew this, then please forgive me, I'm in no way trying to be patronizing.

The plugin calculates the gzip sizes of your built sources if it can access them, in ord

[2017-03-16 13:45] valscion commented on #41
I fear that we can't do much with the current treemap visualization, as it seems to be a demo version of some commercial code. We only have the minified/obfuscated treemap code available.

[2017-03-16 13:54] wenkanglin commented on #58
Thank you for answer. Support output in-memory maybe is a good idea 👍

[2017-03-16 13:54] #58 closed

[2017-03-17 05:11] elfey commented on #57
Just realized you already have a feature similar to this, which generates an HTML file and automatically opens it. That's great, thanks!

[2017-03-17 05:11] #57 closed

[2017-03-17 05:42] elfey opened #59 "CI Errors, build stage never completes"
When this package, at its latest versions, is integrated with CircleCI, it gets caught in the build stage.

If this package is removed, the build stage completes successfully.

[2017-03-17 05:44] th0r commented on #59
What do you mean?

[2017-03-17 14:04] elfey commented on #59
We don't want to use this plugin in CI.

But we like the plugin and would rather not have a separate webpack config just for CI to disable this one thing. We've solved this for now by disabling the `openAnalyzer` feature (we could probably have another workaround that detects operating system and enables/disables the `openAnalyzer` feature if it's not Windows/MacOS... but that still doesn't solve

[2017-03-17 14:07] valscion commented on #59
Hmm so are you generating a static HTML file or opening the server? As the server doesn't close until explicitly closed.

It sounds to me like you indeed want to disable the `openAnalyzer` config option and set `analyzerMode` option to either `disabled` or `static`.

If you do, however, set these options and the CI still doesn't pass, then we might be able to do something. Otherwise, it is more li

[2017-03-17 14:30] elfey commented on #59
We've set it to static, that's why I'm still a little confused about what is going on. I was hoping because the process exits nicely on my computer, that it would in CI. It seems that maybe the process is exiting differently than webpack traditionally does.

[2017-03-18 10:55] valscion commented on #59
You need to set `openAnalyzer` to `false` *and* set `analyzerMode` to `"static"`.

Your comment suggest that you're incorrectly setting `openAnalyzer: "static"` which I'm not sure what it does but likely it is perceived the same as setting the value to `true` as in JS a non-empty string is a "truthy value".

[2017-03-18 18:05] lekhnath opened #60 "Does not work with DllReferencePlugin"
#### Issue description
Getting following error message
[code]

#### Technical info
* Webpack Bundle Analyzer version: 2.3.1
* Webpack version:2.2.1
* Node.js version:v6.9.5
* npm/yarn version: yarn 0.19.1
* OS: Ubuntu

#### Debug info
How do you use this module? As CLI utility or as plugin?
Plugin

If CLI, what command was used? (e.g. `webpack-bundle-analyzer -O path/to/stats.json`)

If plugin, wh

[2017-03-18 18:07] elfey commented on #59
@valscion my mistake, I worded that incorrectly (it was 3 AM). I did as you described above.

[2017-03-19 09:06] valscion commented on #59
Ok, then it does seem weird. It should complete... would you be able to create a reproduction repository that has this issue?

[2017-03-19 09:07] valscion commented on #60
Hmm this might be interesting. I've never tried DllReferencePlugin so it might be the one causing issues.

Are you able to get the stats successfully if you don't use it?

[2017-03-19 14:21] lekhnath commented on #60
If I first genertate `stats.json` file using webpack cli and fed this file to webpack-bundle-analyzer cli , It seems working but cannot figure out why its not working via plugin.

[2017-03-19 14:43] valscion commented on #60
Please try running your bundling without the `webpack.DllReferencePlugin` instances in your `plugins` array. It would help in debugging this :)

[2017-03-19 15:11] lekhnath commented on #60
Yes, It works when omitting `webpack.DllReferencePlugin` from the plugins list and adding `new BundleAnalyzerPlugin()` instance to the plugins list.

[2017-03-19 15:24] valscion commented on #60
Ok great! Could you modify the title of this issue to be this?

This way the title would be a little less generic than just the analyze error.

[2017-03-19 20:43] valscion commented on #32
I've got it working in our app!! :tada: :tada:

[code]

![402d449b545](https://cloud.githubusercontent.com/assets/482561/24084557/00aa1316-0cf5-11e7-93df-f2f9300a02f8.jpg)

The current code is very much a proof of concept. The code can be found splitted into these:

* https://github.com/valscion/webpack-bundle-analyzer/tree/batshit-crazy — this plugin, with all reporter code removed
* https://gith

[2017-03-29 20:56] cchamberlain commented on #49
@valscion - I'm new to this plugin but what are the use cases for the default `analyzerMode` of `"server"` if its not meant to go with `webpack-dev-server`. Generally production builds run once and output static files to be served up by a process outside of `webpack` (so `server` option doesn't make much sense here to me).

[2017-03-29 21:09] th0r commented on #49
@cchamberlain it doesn't pollute fs by generating report file.

[2017-03-31 05:46] jmeas opened #61 "Stat size, parsed size...?"
Are there definitions somewhere of exactly what "stat size", "parsed size," etc. means? I'd be happy to add these definitions to the README if they're somewhere else right now. Just lmk!

Thanks for the great plugin ✌️

[2017-03-31 07:10] valscion commented on #61
Stat sizes are fetched from the webpack stats object directly, and use the actual source code of your modules as-is and report the size before minification or gzip

Parsed size is calculated by reading the *actual compiled bundle files* and making a link back to the modules from webpack stats file. So if you use a minifier, such as UglifyJS, the parsed size shows you the size after minification.

[2017-03-31 10:08] th0r commented on #61
It's not correct. It gzips [each module separately](https://github.com/th0r/webpack-bundle-analyzer/blob/v2.3.1/src/analyzer.js#L71) **but** also gzips [the whole bundles](https://github.com/th0r/webpack-bundle-analyzer/blob/v2.3.1/src/analyzer.js#L82) so you will have relevant gzip sizes for your bundle scripts.

[2017-03-31 10:11] valscion commented on #61
Yeah true, forgot to say that for the entire bundle, the gzip size is correct, but for individual modules it might lie. Thanks for correcting me!

[2017-03-31 10:29] th0r commented on #61
@valscion Thanks for your answer)

[2017-03-31 14:14] jmeas commented on #61
This is immensely helpful. Thanks for all of this detail!

I'll whip up a PR to add this to the README shortly.

[2017-04-01 20:40] Kepro commented on #49
same issue here.. that stats.json is now 18.4 MB big :) before we join all aplications together it's working with webpack only with this settings that you can see down

Could't analyze webpack bundle:
TypeError: currentFolder.addModule is not a function
Could't find any javascript bundles in provided stats file

[code]

[2017-04-03 04:02] jmeas commented on #61
As much as I want to write this up, I've been suffering from some sudden RSI and think it'd be better if I didn't. At least not until I see a doctor. Might be able to pick it up, but for now it's going on my back burner. Sorry! 🙈

[2017-04-03 07:22] valscion commented on #49
Ok great, I am able to reproduce the crash from your files, @Kepro. This will help in debugging this a lot :+1:

[2017-04-03 07:26] valscion commented on #61
That's entirely understandable @jmeas ❤️  no hard feelings! I understand RSI 😅

![20170403_102441-1](https://cloud.githubusercontent.com/assets/482561/24599268/00333e3a-1858-11e7-86fa-386f88008d61.jpg)

[2017-04-05 20:17] basicdays commented on #53
This would be amazing. Just tried out the `webpack-bundle-analyzer` today and this tool made it immediately obvious some dependency is pulling in all of lodash. We'll have to go code spelunking to figure out which one is doing that or find another tool to report on that. It'd be amazing to have all of that within one tool.

[2017-04-05 21:17] wmertens commented on #53
you can feed the stats file to webpack.io/analyze and then you can see the
dependency that pulled it in.

On Wed, Apr 5, 2017 at 10:17 PM Paul Sanchez <notifications@github.com>
wrote:

[2017-04-06 06:23] valscion commented on #53
Yeah an use case such as this one is definitely a thing I want to make possible with #32 and #40.

Too bad that your fork is an entirely different project, so comparing the diff makes no sense.

[2017-04-06 13:45] valscion commented on #59
Hiya @elfey, do you still have this issue? Would you be able to create a reproduction case for this?

[2017-04-06 14:00] valscion commented on #60
Hiya @lekhnath, sorry for not getting back to you sooner.

Are you able to generate a `stats.json` file and zip it *with* your built files so we could try to reproduce your error? Alternatively, if you'd be able to whip up a reproduction repository for your issue, that would also be ace! 💞

[2017-04-06 14:13] chrisui commented on #59
`openAnalyzer: false` worked for us 👍

Might make a more sensible default.

[2017-04-06 15:11] valscion commented on #59
Thanks, @chrisui! I'll close this for now, I can always reopen later if need be.

Thanks for your input :) I don't think we'll be changing the default option for now, though.

[2017-04-06 15:11] #59 closed

[2017-04-06 17:20] lekhnath commented on #60
@valscion Today I give it another try and surprised to see that there is no issue at all. It is working like a charm even with DllReferencePlugin. I've done lots of changes to my configuration and code in the meantime though. I would open a new issue with reproduction if it encountered again.
Thanks.

[2017-04-06 17:20] #60 closed

[2017-04-07 07:43] valscion commented on #60
Ok, thanks for following up!

[2017-04-11 16:23] jasonmacdonald commented on #49
Any update on this? I'm having the same issue as others. Seems to happen when I add a dynamic require statement.

[2017-04-12 07:24] valscion commented on #49
Nope, no updates yet. If you're able to whip up a small reproduction repository showcasing this error it would help in coming up with a new test case and verify that #50 fixes this issue.

You could also try to come up with a test case for this. You'd need to add two files to `test/bundles` folder, one with the bundle file contents and the other with the expected JSON representation of the modules

[2017-04-12 11:16] #49 closed

[2017-04-12 11:16] th0r commented on #49
Should be fixes in `v2.4.0`

[2017-04-12 11:25] th0r commented on #39
No info was provided. Closing.

[2017-04-12 13:01] andersekdahl opened #63 "Thank you!"
Just wanted to say that this tool is incredible. The content of our bundles have been a black box but with webpack-bundle-analyzer it's super clear what goes where and we can finally optimize it!

[2017-04-12 13:01] andersekdahl commented on #63
Closing since this isn't really an issue. 😄

[2017-04-12 13:01] #63 closed

[2017-04-12 14:29] th0r commented on #63
@andersekdahl Thanks for the kind words!

[2017-04-21 15:42] dzearing opened #64 "Symlinks expand paths of node_modules"
#### Issue description
When this is used in an environment where node_modules packages are symlinked (via lerna, @microsoft/rush, npm link) the locations to npm modules are expanded such that it makes things hard to parse. Basically half of the tree map is dedicated to resolving the node_modules folder:

![image](https://cloud.githubusercontent.com/assets/1110944/25285211/4d51fee4-266e-11e7-88f1-0

[2017-04-21 20:38] th0r commented on #64
Bad news: seems like webpack doesn't provide a symlinked path - stats file only contains already expanded path to the real file.

I think the most proper way to solve it would be filling an issue in webpack repo to include symlinked paths in stats info.

@dzearing Could you do it?

[2017-04-21 20:47] dzearing commented on #64
Sure thing @th0r :)

[2017-04-21 21:55] dzearing commented on #64
@th0r Actually, lets say that webpack is doing the right thing. Technically the path is correct, so I can see them won't fixing that. But it creates a mess in the treemap.

Another alternative would be to collapse folder with only one child into one "box". So in the screenshot above, instead of 6 boxes representing individual folders, you could collapse them into a single "Users/david/fabric/branc

[2017-04-24 09:58] th0r commented on #64
@dzearing I'm not saying that webpack does something wrong - it just expands symlinks to the real paths.
Because of this it's not possible to get the original "symlinked path".

What I suggest is to submit a feature request in webpack's repo for them to add another field with symlinked (not expanded) path to stats info that this plugins uses to construct modules treemap.
It won't change any logic

[2017-04-25 14:18] kopax opened #65 "how to run"
I have two webpack project, one is a module, the other an application.

I have installed the plugin on both, however, I don't know how to run the analysis. Could you please update the README.md so I can try this module ?

[2017-04-25 14:23] kopax commented on #65
I was able to run it using

    npm install -g npm-run
    npm-run webpack-bundle-analyzer --help

Then I did

   npm run build

The project is a module, so I was expecting not to visualize any **peerDependencies** in `node_modules`.

Also, it hold my terminal open with the new server started.

Is it possible to launch it manually with it's own command ?

[2017-04-25 14:36] th0r commented on #65
You should included this plugin into your webpack config and it will open analyzer in your default browser in the end of the bundle build process.

[2017-04-25 14:37] kopax commented on #65
What about is the build process is executed by jenkins ?

[2017-04-25 14:39] th0r commented on #65
Read about `analyzerMode` option in the readme.

[2017-04-28 07:55] Kumarsammy commented on #61
Weird stuff.
Somehow my js parsed size is double than that of stat size. Is it okay @valscion ?

[2017-04-28 12:45] th0r commented on #65
@kopax Does your problem solved?

[2017-04-28 12:46] th0r commented on #64
@dzearing So what do you think about filling an issue in webpack repo?

[2017-04-28 20:20] dzearing commented on #64
Hey @th0r just to be really clear; in the stats file, right now I see fully qualified paths for everything. That includes "module" entries, "moduleName", "moduleIdentifier", etc.

What would you expect here; another entry called "moduleIncludePath" or something, which would be relative to the webpack location without the fully qualified path resolve?

I am not quite sure how to word it so that it

[2017-04-29 04:43] jmeas commented on #61
My RSI has chilled out, so I'm gonna PR this this weekend!

[2017-05-02 12:56] hjeti opened #67 "webpack.NamedChunksPlugin breaks parsing"
When using the webpack.NamedChunksPlugin the bundle can't be parsed anymore by the analyzer.

`Couldn't parse bundle asset "dist\version\1493729489528\js\app.js".`

If I disable the plugin everything works like a charm.

Attached a bundle that can't be parsed.
[app.txt](https://github.com/th0r/webpack-bundle-analyzer/files/970479/app.txt)

[2017-05-02 13:03] valscion commented on #67
Hmm interesting. Would you be able to provide a `stats.json` as well, @hjeti ?

[2017-05-02 13:05] valscion commented on #67
Instructions for generating a `stats.json` were in the issue template:

It would be nice to also attach webpack stats file.
It can be generated using these options:
[code]
`stats.json` will be created in Webpack bundle output directory.

Zip the contents of your bundle directory and upload them here so we have all the pieces necessary for debugging this :)

[2017-05-02 13:18] hjeti commented on #67
I couldn't upload a zip (We don't support that file type.) so I have uploaded it to wetransfer.

https://wetransfer.com/downloads/36dc814a5d80c97a77c112ba0ad07b6020170502131503/e0aa2fde1c0ba9e6ce2b20cb14a16b7120170502131503/2dc762

[2017-05-03 07:00] #67 closed

[2017-05-04 06:56] #61 closed

[2017-05-06 18:03] #65 closed

[2017-05-06 19:22] #52 closed

[2017-05-06 19:30] th0r commented on #52
`defaultSizes` option added in `v2.6.0`

[2017-05-08 04:19] joscha opened #71 "Feature: Exclude entries from generated treemap"
#### Issue description

We have a project where we generate multiple entry points at once, but we would like the stats to be reported independently (per entry point).

Pretty much a whitelist (or blacklist) option for the entry points that should be included int he analyzer output.

I tried using the `statsOptions`, but after reading through some of the source I think this has no effect on the gen

[2017-05-08 07:26] valscion commented on #71
Sounds like a legit use case :+1:

I'm not really sure how I'd go about testing this feature, though. I'm not really sure whether there's a good slot for this in the existing testing infra, maybe th0r knows better.

[2017-05-08 07:35] joscha commented on #71
^ @th0r any thoughts on this?

[2017-05-09 01:22] kopax commented on #65
Hi th0r, sorry for the late reply. [This](https://github.com/th0r/webpack-bundle-analyzer/issues/65#issuecomment-297051664) solved my issue.

[2017-05-09 07:26] nashwaan commented on #63
@th0r A big thank you for this package.
👍👍👍👍👍

[2017-05-09 17:29] th0r commented on #71
@joscha Let me confirm that I understood you correctly. You are saying that you have multiple entry points, for example, `app` and `vendor` and two resulting bindles: `app.bundle.js` and `vendor.bundle.js` respectively. And you want stats for them to be generated separately into two different html files, right?

[2017-05-09 22:02] joscha commented on #71
@th0r yes, that is correct. I want to be able to hide all other unrelated bundles and/or whitelist a specific one, so I can make sure that only ever one shows in the generated stats file.

[2017-05-10 07:12] th0r commented on #71
@joscha Wait. Do you want to exclude information from the **stats** file (`stats.json` that's generated when `generateStatsFile` option is `true`) or the **report** file (`report.html` with the treemap)?

[2017-05-10 07:47] joscha commented on #71
^ this one!

[2017-05-10 07:55] th0r commented on #71
Ok. What if there would be a list of all chunks with checkboxes in the left panel under `Treemap sizes` so you'll be able to filter out all unnecessary ones? Would that work for you?

[2017-05-10 07:57] joscha commented on #71
@th0r that would be cool as well, yes!

[2017-05-10 10:47] th0r commented on #71
`v2.7.0` shows the checkbox list of all chunks in the sidebar.

[2017-05-10 10:50] th0r commented on #38
@megaboich `v2.7.0` partially addresses this performance issue - it allows to choose only some chunks to analyze and hide all others.

[2017-05-11 02:56] nashwaan opened #73 "Port error when using in webpack --watch mode"
Thanks @th0r for this great analyzer tool.

I tried to use this plugin in webpack --watch mode but when I do changes to my project and save, webpack crashes and shows error that the port already in use. I guess the tool tries to open a new web page and establish a new 8888 port rather than connecting to existing 8888 port and refresh the result. Any help on this?

[2017-05-11 07:32] valscion commented on #73
Thanks for the issue! This seems to be a duplicate of #37 so I'll close this.

[2017-05-11 07:32] #73 closed

[2017-05-11 07:35] valscion commented on #9
Closing this issue as #72 likely resolved this as well.

[2017-05-11 07:35] #9 closed

[2017-05-11 08:42] nashwaan commented on #37
+1
I hope this great tool will support `--watch` mode sometime soon.

[2017-05-11 10:11] th0r commented on #37
@nashwaan @akatechis Could you guys explain your use cases? Why do you need it to support watch mode? Do you want it to dynamically update treemap according to the changes you made to the sources?

[2017-05-11 10:40] nashwaan commented on #37
Exactly.

[2017-05-11 15:12] akatechis commented on #37
Yes, it would be nice to leave the plugin enabled, and use the bundle analyzer at will. As it stands, I have to stop my WDS, insert the plugin, start the server, use the analyzer to see the changes, then stop, remove it, restart WDS, and continue my dev workflow.

[2017-05-12 12:36] #37 closed

[2017-05-12 12:47] th0r commented on #37
Support for watch mode and Webpack Dev Server landed in `v2.8.0`

[2017-05-15 07:57] ikobe opened #75 "wrong output path with report file in dev mode"
#### Issue description

with this [commit](https://github.com/th0r/webpack-bundle-analyzer/commit/431ebbc61540a2950f7eb1084b8012ba48ce2bbf), i got wrong filepath with the report file in dev mode

#### Technical info
* Webpack Bundle Analyzer version: 2.8.1
* Webpack version: 1.12
* Node.js version:7.6.0
* npm/yarn version:  4.1.2
* OS: mac os

#### Debug info

with webpack-dev-server

[code]

[2017-05-15 11:47] nashwaan commented on #37
Thanks @th0r for adding the support for `watch` mode.
👍👍👍

[2017-05-17 02:08] mattcolman opened #76 "Tree shaking problem"
#### Issue description
I am using UglifyJsPlugin *before* the BundleAnalyzerPlugin.
I confirm that bundling my code with UglifyJsPlugin is tree shaking certain modules, but those modules still appear in the visualisation from BundleAnalyzerPlugin.

#### Technical info
* Webpack Bundle Analyzer version: 2.8.1
* Webpack version: 2.5.1
* Node.js version:
* npm/yarn version:
* OS:

#### Debug info
How

[2017-05-17 07:04] th0r commented on #76
What do you mean by that? If you're taking about the order in the `plugins` array then it doesn't matter.

Could you provide a simple reproduction repo?

[2017-05-17 13:16] ikobe commented on #75
@valscion will you  please fix this bug quickly ? it has affects many projects of mine

❤️

[2017-05-17 14:19] valscion commented on #75
To work around this, feel free to use an older version of `webpack-bundle-analyzer`.

[code]

To fix this bug sooner rather than later, it would be great to have a reproduction repository that shows this issue.

[2017-05-18 00:33] mattcolman commented on #76
Hi @th0r,

Yes I mean't the order in the plugins array.

I have created a simple reproduction repo and thanks for the suggestion because I think it's revealed that tree-shaking in webpack is just less affective than I thought, and that webpack-bundle-analyzer is working perfectly.

If you're interested the repo is here https://github.com/mattcolman/tree-shaking-test
It reveals that by importing `p

[2017-05-18 00:33] #76 closed

[2017-05-18 00:41] mattcolman commented on #76
Update: I found https://github.com/styled-components/babel-plugin-polished which compiles away polished helpers and does exactly what I expected. Problem solved. Thanks! webpack-bundle-analyzer is great 👍

[2017-05-18 09:06] th0r opened #77 "Improve gzip sizes accuracy"
Currently for folders we just sum gzip sizes of it's modules.

Accuracy of this approach significantly decreases for libraries that contain a lot of modules e.g. `rxjs`.

We can solve this by concatenating sources of all modules for the folder and gzipping the resulting string.

[2017-05-18 12:15] #77 closed

[2017-05-18 20:27] #75 closed

[2017-05-18 20:33] th0r commented on #75
Fixed in `v2.8.2`

[2017-05-29 11:30] ViggoV opened #84 "Saving the report to root"
#### Issue description
When running the plugin in development (using webpack dev server) the report is stored in root, rather than the webpack output folder (/public/webpack/ in my case). This has led to some frustration since it is constantly messes with git.

#### Technical info
* Webpack Bundle Analyzer version: 2.8.1
* Webpack version: 2.5.1
* Node.js version: 6.9.1
* npm/yarn version: 4.4.4
*

[2017-05-29 11:39] valscion commented on #84
Does it output the report in the correct place if you are not using `webpack-dev-server`? If you have set `output.path` setting in your `webpack-dev-server` configuration, this plugin should respect that and output the report inside that directory.

[2017-05-29 11:57] ViggoV commented on #84
Yes. If I build via command line the report is generated in the correct location. I can't seem to find an `output.path` option for DevServer. Do you mean the general `output.path` in the webpack config file? That one should be set correctly.

Thank you for the fast reply.

[2017-05-29 12:06] valscion commented on #84
Ah, seems like this is the same issue as #75 and was fixed by #79 that is in version `v2.8.2`. So just upgrade your version of `webpack-bundle-analyzer` and it should work :relaxed:

[2017-05-29 12:10] ViggoV commented on #84
Awesome! That was it!
Thanks for great help for a great tool :)

[2017-05-29 12:19] #84 closed

[2017-05-29 12:19] valscion commented on #84
Great to hear that this got fixed without us having to touch any code :smile:

[2017-06-06 18:21] MrHavard opened #86 "Not seeing parsed or gzip statistics, stat size only"
#### Issue description
I'm seeing stat size, but not parsed or gzip information. Is there something special that needs to be configured to see those for a production build? Would this need to be configured elsewhere in webpack stats configuration or within webpack-bundle-analyzer?

#### Technical info
* Webpack Bundle Analyzer version: 2.8.2
* Webpack version: 2.6.1
* Node.js version: 6.10.1
* npm

[2017-06-07 03:22] songxc commented on #86
I met the same problem, look forward to a reply.

[2017-06-07 06:59] valscion commented on #86
Hi, thanks for raising an issue! Seeing only stat sizes usually means that `webpack-bundle-analyzer` is not able to get access to your compiled bundles for some reason.

Do either of you get any error message logged to the console? For example, something like this?

[code]

There could be a bug where `webpack-bundle-analyzer` is not able to parse your bundle assets, or it might not found the bundl

[2017-06-07 15:12] MrHavard commented on #86
I do not get any error or messages other than that Webpack Bundle Analyzer saved stats file and that it is started. Due to security I am unable to provide a stats file or source code.

I can tell you the general structure of bundled output:

- **dist**
-- index.html
-- **assets**
--- **js**
---- app.js
---- app.js.map
--- **css**
---- app.css
---- app.css.map

[2017-06-08 06:10] valscion commented on #86
Could you try applying `generateStatsFile: true` to your `new BundleAnalyzerPlugin` setup and posting the entire file structure of your bundle directory?

Please follow these steps to generate a full tree of your bundle directory:

1. Select your bundle output folder.
2. Press Shift, right-click mouse, and select "Open command window here".
3. Type `tree /f /a | clip` and press Enter.

You should

[2017-06-08 06:19] MrHavard commented on #86
dist
|   index.html
|   stats.json
|
\---assets
    +---css
    |       app.3c5d4b10.css
    |       app.3c5d4b10.css.map
    |
    +---fonts
    |       fontawesome-webfont.674f50d2.eot
    |       fontawesome-webfont.af7ae505.woff2
    |       fontawesome-webfont.b06871f2.ttf
    |       fontawesome-webfont.b8e85624.svg
    |       fontawesome-webfont.fee66e71.woff
    |
    +---images
    |

[2017-06-08 06:28] valscion commented on #86
Thanks!

Things should work OK, I wonder what's up with `webpack-bundle-analyzer` not showing parsed and gzip sizes...

Could you try adding `statsOptions: { source: false }` alongside the `generateStatsFile: true` option to `new BundleAnalyzerPlugin` setup and zip over the `stats.json` file here?

You could double-check that it doesn't contain your source codes before that, though — with `statsOp

[2017-06-08 06:59] MrHavard commented on #86
`output: path.join(process.cwd(), 'dist'),`

[stats.zip](https://github.com/th0r/webpack-bundle-analyzer/files/1060146/stats.zip)

[2017-06-08 07:37] valscion commented on #86
I am unfortunately unable to replicate this error without your bundled files. I tried creating a reproduction case and even ran it in a Windows 10 virtual machine (I'm developing on macOS), and it still works.

![screen shot 2017-06-08 at 10 34 51](https://user-images.githubusercontent.com/482561/26917265-41f1ac64-4c36-11e7-9b98-e4fb34daebd7.png)

Could you try running `webpack-bundle-analyzer` vi

[2017-06-08 15:13] MrHavard commented on #86
There must be something wrong somewhere else in my configuration outside of the analyzer. If I attempt to run the CLI from a local install I get
[code]
If I install the analyzer globally then the CLI works fine and I get all three stats correctly.

[2017-06-09 07:26] valscion commented on #86
Ah yes, I think it is due to npm installing binaries on Windows wrapped in `.cmd` files, and I didn't know that. Instead of me asking you to call this:

[code]

...I should've asked you to try this instead:

[code]

There seems to be lots of issues about this behavior when googling, and I even found one similar case in `rimraf` repository here: https://github.com/isaacs/rimraf/issues/107

Does it

[2017-06-09 07:45] valscion commented on #86
Seeing as the global installation works, there might be some problems with how the plugin works on your machine. There might be some conflict with another plugin or config setting that I just haven't heard of before.

Are you able to modify the [`node_modules/webpack-bundle-analyzer/lib/BundleAnalyzerPlugin.js`](https://unpkg.com/webpack-bundle-analyzer@2.8.2/lib/BundleAnalyzerPlugin.js) file and

[2017-06-09 15:56] drcmda commented on #86
@valscion
I get the same when i switch WBA to `new BundleAnalyzerPlugin({ analyzerMode: 'static' })`and suddenly the only option left is stat.

[2017-06-09 16:28] dougludlow opened #87 "RangeError: Maximum call stack size exceeded"
#### Issue description
I'm working on migrating a legacy app from a standard gulp build/bundle to webpack. In the process I'm trying to analyze the app's bundles and ensure the correct scripts are within the correct bundles and there is no duplication. However, I'm getting the following error when I try to run the analyzer:
[code]

#### Technical info
* Webpack Bundle Analyzer version: 2.8.2
* Web

[2017-06-09 16:35] MrHavard commented on #86
bundleDir appears to be null:

[code]

[2017-06-12 06:41] valscion commented on #86
@drcmda could you open a separate issue for your problem?

@MrHavard thank you for the analysis! This is what I feared was happening. Would you be able to create a minimal reproduction repository for this issue? I'm not really sure why this is happening, but it would be amazing to be able to replicate it myself to fix it :)

[2017-06-12 06:45] valscion commented on #87
Thanks for the issue report! Seems like your bundles are so large that some of the places where we're recursing the module tree it goes so deep to cause a stack overflow error.

I have a few possible ideas how to go about changing the code that might be the cause of too much recursion. For those changes to be effective, though, I could really use your built sources to verify we've fixed the range

[2017-06-15 21:04] jmbelloteau opened #88 "Parsed size not working"
#### Parsed size not working
The returned size for each package is the exact size of the non **Stat size**, even with this code in the options: `defaultSizes: 'parsed'`

#### Technical info
* Webpack Bundle Analyzer version: **v2.8.2**
* Webpack version: **v2.6**
* Node.js version: **v8.1.1**
* npm/yarn version: **v0.24.6**
* OS: **mac OSX Sierra 10.12.5**

#### Debug info
I'm using this module as

[2017-06-16 04:07] MrHavard commented on #86
Sorry been too busy to get a repo together. Will try to do that soon.

[2017-06-16 05:47] th0r commented on #88
Could you send your console output? Does it contain any messages from bundle analyzer?

[2017-06-16 10:52] jmbelloteau commented on #88
[code]

[2017-06-16 10:56] jmbelloteau commented on #88
As you can see there is no error message from bundle analyzer, but you know what the problem is resolve 👍 ... I've just upgrade all my packages to last version. Probably some conflict somewhere that disappeared with the upgrade. Tanks anyway

[2017-06-16 11:14] th0r commented on #88
OK, closing then

[2017-06-16 11:14] #88 closed

[2017-06-16 17:47] XVincentX commented on #32
One more point to that - would it be great if there will be any possibility to get the generated data programmatically - so that I can eventually monitor the bundle sizes in my own way.

[2017-06-19 06:28] valscion commented on #32
Getting the generated data programmatically is one goal of this UI split to me :relaxed:. I'd love to be able to monitor bundle sizes as well.

[2017-06-19 06:41] valscion commented on #86
And for the time being, you can also work around this by downgrading to `v2.7.0`. We'd still like to fix this, though :)

[2017-06-19 13:05] XVincentX commented on #32
Hey - I might contribute to it if you could point me to the right part to modify. I'll then figure out what to do there.

[2017-06-19 13:32] valscion commented on #32
Thanks for the offer! I think the blocker here is me not really knowing how to progress to make this OK by @th0r, so I think it'd be best if I can figure out the split logic by myself :)

I'm still a bit unsure of how I want the API between plugin and reporter to look like. If you want to try out creating your own reporter (one that could just fetch the generated data programmatically), have a loo

[2017-06-19 13:43] valscion commented on #32
Oh, and it would be very valuable if you could test this out and give feedback on what it felt like to do this and what pain points you encountered along the way.

[2017-06-19 16:56] XVincentX commented on #32
Thanks for the notes, really valuable. I think I'll probably wait for the API to be completed/merged and released, and eventually start working on it!

[2017-06-20 15:58] dougludlow commented on #87
@valscion, thanks for taking the time to look into this. I ended up changing the way I included my scripts. I swapped out the globbing I was doing and instead included a separate file that uses require.context to import the collection of scripts. That has made my build a _lot_ faster and the analyzer now works. Thanks again!

[2017-06-21 13:39] Ixonal commented on #86
Just having this issue myself. Could bundleDir be set by a command line option?

I did notice that if I had my stat file placed into my dist folder and run webpack-bundle-analyzer off of that, it will display the other sizes correctly, so that could be a workaround.

[2017-06-21 13:54] th0r commented on #86
@Ixonal Type `webpack-bundle-analyzer --help` in the command line to see all the answers.

[2017-06-21 13:59] Ixonal commented on #86
derp... Sorry, should've noticed that earlier.

[2017-06-21 14:09] th0r commented on #86
@Ixonal No problem =)

[2017-06-21 17:05] PengyuanZhao commented on #86
I can only see the stat size when running it with webpack dev server.

[2017-06-21 17:10] th0r commented on #86
@PengyuanZhao it's how it should be because webpack dev server don't save output bundles in the real filesystem and there is nothing to parse.

[2017-06-23 20:36] chrisui commented on #67
@valscion FYI I'm still seeing this issue after updating to 2.4.1

`Couldn't parse bundle asset "~/build/vendor.1fb1fe7bbfafd8be0b4b.js".`

[2017-06-30 03:26] warmhug commented on #86
@th0r How to solve it?

[2017-06-30 07:13] valscion commented on #86
@warmhug, to see gzip and parsed sizes, don't use webpack-dev-server

[2017-06-30 07:24] th0r commented on #86
@warmhug Or if it's not so hard, could you read my message **right above** yours?

[2017-06-30 17:00] reintroducing opened #90 "Stat size not matching file size"
#### Issue description
When I load up the server and see the breakdown, the total stat size is MUCH smaller than what my actual output file is, almost 1/4th the size (reporting 5.76mb, actual around 19.5mb [don't judge :)]). I'm trying to figure out if I'm misunderstanding how this tool works or if there is something wrong here. I'd like to see the real reflection of size because then it would giv

[2017-07-01 06:59] valscion commented on #90
Thanks for the issue! This does seem weird.

I'm not at my computer right now so I can't yet verify what you're seeing, hopefully I'll get to this later :)

I'll have to ask a silly question, sorry: Are you sure you're looking at the Stat sizes and not Parsed sizes in the UI? Hover your mouse over the left edge of the reporter UI and make sure you're using the Stat sizes.

Although, that choice sh

[2017-07-01 07:05] th0r commented on #90
I have a suspicion that it's because of the `ModuleConcatenationPlugin`. Will investigate it a little later.

[2017-07-01 08:50] valscion commented on #90
Oh of course, that will make things much more difficult. I didn't notice you were using that. Can you try without the moduleconcatenation plugin and verify the sizes are correct without it, @reintroducing?

[2017-07-01 11:08] th0r commented on #90
@reintroducing Looking at your issue right now. Are you talking about `sh.min.js` that is 5.76mb? And it's real size is ~19.5mb? Maybe it just contains inline source maps?

[2017-07-01 12:45] reintroducing commented on #90
Ugh, @th0r you're absolutely right, really sorry about the noise. I was testing with our dev build and then output our production build and was comparing apples to oranges. The dev build has `eval-source-map` set and the production build is `source-map`. My apologies for the noise, I should have caught this myself.

I did notice that when running the dev build I only get the stat size and not the

[2017-07-01 12:45] #90 closed

[2017-07-03 11:33] porfirioribeiro opened #91 "Sizes in sidebar"
I think the sidebar could give more information about the chunks itself
Like showing sizes for each chunk displayed in the list and show the total bundle size.
It would give you a good overview of the sizes, either in each chunk and the total app

[2017-07-03 22:07] bsuh commented on #87
@valscion I have created a reproduction of this https://github.com/bsuh/webpack-bundle-analyzer-issue

[code]

Here are the src trees
[code]

[code]

[2017-07-04 06:10] valscion commented on #87
Thanks! I reopened the issue so we don't forget to check that repro out

[2017-07-07 05:07] tashburn opened #93 "Feature request: show build time"
I'd like to use this to find what's taking up so much build time for my webpack build -- which isn't the same as file size. Any chance you want to add that metric in addition to the file sizes?

[2017-07-07 06:37] valscion commented on #93
Hmm I wonder if it is at all possible to extract that information from the webpack build pipeline. Would you be open to researching whether it's possible? I don't think webpack's stats.json has that information readily available so it would probably need some trickery to get it.

It'd be nice if that was possible to do :). It might be better to implement that feature outside of this package, as we

[2017-07-08 22:33] tashburn commented on #93
I'm afraid I don't have the bandwidth for that.

[2017-07-10 07:15] valscion commented on #93
I'm afraid neither will us.

[2017-07-10 07:15] #93 closed

[2017-07-10 19:49] imathews opened #94 "Can't parse bundle asset with babel-preset-env on latest browsers"
#### Issue description
I'm getting the "Can't parse bundle asset" error (and therefore am only seeing stat sizes) when I adjust my `babel-preset-env` parameters to only support the latest browser versions (specifically, Safari 10.1). The big change here (compared to Safari 10.0, which works as expected) is that babel is using native async/await.

Bizarrely, the parse _does succeed_ on 10.1 if I se

[2017-07-11 06:38] valscion commented on #94
Thanks! Seems like the bundle parsing fails somehow with this combination. Are you able to upload the compiled bundles as well? That way we could more easily verify this case.

[2017-07-13 10:13] #94 closed

[2017-07-13 10:36] th0r commented on #87
@bsuh Both test cases work with `v2.8.3`. Thanks for the reproduction!

[2017-07-13 10:36] #87 closed

[2017-07-13 10:39] th0r commented on #86
@MrHavard Were you able to find some time to create a reproduction repo?

[2017-07-13 17:38] imathews commented on #94
sorry I couldn't get you an example — got bogged down with things. Thanks @th0r for hoping on this!

[2017-07-13 20:29] williamle8300 commented on #15
Why is the parsed size (e.g., the minified) larger file size than non-minified? Shouldn't it be vice-versa?

[2017-07-13 20:43] th0r commented on #15
@williamle8300 should be if it's really minified.

[2017-07-19 09:17] anilanar opened #104 "ES6 cannot be parsed"
#### Issue description
I'm saying ES6 because I'm not sure what goes into ES2015, 2016 or 2017.

In the project I'm working on, we started doing 2 builds, 1 using `babel-preset-env` targeting IE11, another targeting modern browsers such as Safari 10.1, Chrome 59 etc. For the latter, webpack bundle analyzer complains about not being able to parse. It could be async/await syntax which is in Stage 3.

[2017-07-19 09:17] th0r commented on #104
Webpack Bundle Analyzer version: ?

[2017-07-19 09:19] anilanar commented on #104
Added, you were too fast to answer, I was still editing my question. Thanks ❤️

[2017-07-19 09:20] th0r commented on #104
Try 2.8.3 - it should be [fixed there](https://github.com/th0r/webpack-bundle-analyzer/blob/master/CHANGELOG.md#283)

[2017-07-19 09:22] anilanar commented on #104
I've checked the source code already, acorn doesn't handle `async/await` without a plugin. Acorn only handles Stage 4 specs.

[2017-07-19 09:23] th0r commented on #104
We have a [test](https://github.com/th0r/webpack-bundle-analyzer/blob/master/test/bundles/validBundleWithEsNextFeatures.js#L2) for it. It passes. Can you just check it?

[2017-07-19 10:22] anilanar commented on #104
Upgrading worked. Thanks a lot.

[2017-07-19 10:22] #104 closed

[2017-07-22 02:37] NE-SmallTown opened #105 "Can I config whether open browser automatically?"
#### Issue description

For now if I use this plugin it will open the browser automatically, but I think it would be better to open it when I enter the url. I find [viewer.js#L29](https://github.com/th0r/webpack-bundle-analyzer/blob/master/src/viewer.js#L29) has a param `openBrowser` but not listed in the option of README, I am not sure it will works. Do you have any thought about this?

[2017-07-22 05:57] th0r commented on #105
The option is called `openAnalyzer` and it's mentioned on the main page.

[2017-07-22 05:57] #105 closed

[2017-07-22 07:54] NE-SmallTown commented on #105
Sorry,I missed it

[2017-07-26 13:21] Phyks commented on #41
Having it would be awesome! Wouldn't it be possible to just reflect the `reasons` field from the JSON export in the popover window (with the sizes and so on)? This would not be perfect but would really help on this topic I think.

Thanks for this amazing tool!

[2017-07-26 13:50] valscion commented on #41
Hopefully once I've got #97 figured out, we could have user-land implementations of this :). Right now implementing this faces same problems as https://github.com/th0r/webpack-bundle-analyzer/pull/85#issuecomment-313622625

[2017-07-28 15:08] coryrylan opened #106 "Details of dependencies lost in visual report"
#### Issue description
It looks like with the latest webpack the the module output changed to where the analyzer cannot drill down into the dependencies. Not quite sure where to start looking but going to try to debug it this weekend.

![capture](https://user-images.githubusercontent.com/2021067/28723491-836c954c-737c-11e7-8a91-da0bd0309089.PNG)
#### Technical info
* Webpack Bundle Analyzer versio

[2017-07-29 14:18] dottodot commented on #86
Think it's related this.

https://github.com/angular/angular-cli/issues/7057

[2017-07-29 18:31] JanOschii opened #107 "How to zoom out, without mouse/scrollwheel?"
Maybe a good info for the readme too.

[2017-08-01 19:31] SeanSilke opened #109 "How track the dependencies?"
Hello!
  I was analizing my bundel and was confuse to find some
big libs on top leve, despite i new use them in my project.
After some reasers i found that that libs was in dependenses
of lib that I use directly.
So.
   Why some of libs that was not directly imported but is in
dependencies of other libraries end up on top level?
Is there the way define who is dependent on particular
lib and why it

[2017-08-02 06:01] valscion commented on #109
Could you send a screenshot of your analyzer browser view so we could see what you mean by top level? Thanks!

[2017-08-02 10:42] SeanSilke commented on #109
Here  moments.js and hammer.js is used only by Vis.js.
<img width="732" alt="vis deps aug 02 13-39-21" src="https://user-images.githubusercontent.com/1077074/28870203-1571fcac-7788-11e7-9ad8-0afc8b444878.png">

[2017-08-02 18:15] valscion commented on #109
Thanks for the extra explanation! Unfortunately, such feature is not yet possible. This issue is a duplicate of #53 so I'll close this one.

[2017-08-02 18:15] #109 closed

[2017-08-02 19:26] SeanSilke commented on #109
@valscion got it thanks.

[2017-08-04 05:11] kuncevic commented on #106
It was just being fixed with this https://github.com/angular/angular-cli/pull/7259

[2017-08-04 06:46] th0r commented on #106
Nice!

[2017-08-04 06:46] #106 closed

[2017-08-04 10:32] dottodot commented on #86
I think this may have been a issue to @angular/cli as I'm now using 1.3.0-rc.5 and the problem seem to have gone away.

[2017-08-04 15:15] #91 closed

[2017-08-04 15:24] th0r commented on #91
Implemented in v2.9.0

[2017-08-08 07:47] lmw6412036 opened #111 "this.state.checkedItems.includes"
Uncaught TypeError: this.state.checkedItems.includes is not a function

[2017-08-08 07:48] valscion commented on #111
Could you send a screenshot or more details about when this happens?

[2017-08-08 07:51] lmw6412036 commented on #111
![tim 20170808155250](https://user-images.githubusercontent.com/18605751/29061659-5a08855c-7c51-11e7-97ab-a8d7607c3e8a.png)

[2017-08-08 07:55] valscion commented on #111
Could you try another browser? Seems like you are using a browser that does not have `Array.prototype.includes` method that was added in ES2016 https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes

We could look into adding a polyfill for when this is missing.

[2017-08-08 07:59] lmw6412036 commented on #111
think you!

[2017-08-08 07:59] valscion commented on #111
It works in another browser?

[2017-08-08 08:00] lmw6412036 commented on #111
@valscion yes，latest chrome

[2017-08-08 08:01] valscion commented on #111
Great! Thanks for replying back. Have a great day!

[2017-08-08 08:01] #111 closed

[2017-08-14 12:18] axe312ger commented on #86
Having the same problems, could it be that webpack-bundle-analyzer just ignores the `output.path` config? If it would follow it, it would perfectly find my file.

[code]

It tries to load the app.js from the root directory, while `output.path` is set to `resolve(__dirname, 'dist')`

[2017-08-14 14:27] valscion commented on #86
It is as automated as the CLI can be :) as it infers the directory from where your stats are.

I think that this issue is too vague as there seems to be multiple causes for this case. I'll close this issue for now. Everyone's free to open new specific issues with a proper bug report, if you think you've faced a bug :)

[2017-08-14 14:27] #86 closed

[2017-08-15 00:31] evolve2k opened #112 "How do you view the output once you run the CLI/install into webpack?"
Probably silly question but it wasn't obvious to me how to use this once I got it installed so was going to move on and try other approaches.

Any tips for the less insightful would be great.

Thx

[2017-08-15 06:14] valscion commented on #112
Hi! Glad you decided to try this out :)

We have tried to provide this information in the README.md. Would you happen to have any ideas how we could make that information more accessible?

It's difficult for us maintainers to write good documentation for the newcomer, as we know the library inside out. Your point of view of how the README.md could be improved is much appreciated

[2017-08-15 06:28] evolve2k commented on #112
Sure, I'm happy to contribute to the README once I understand the answer.

Ok lets try from here.

Say I follow the CLI approach and run
$ webpack --profile --json | Out-file 'stats.json' -Encoding OEM

So I'm guessing I now have a file stats.json that has been created.

What do I do next to then bring up the visual graphic in by browser?

[2017-08-15 06:51] valscion commented on #112
Ok, so based on your pasted code example, are you using Windows PowerShell?

Next up you should be running `webpack-bundle-analyzer --help` to show usage information.

[2017-09-06 17:51] aldo-roman opened #113 "Add brotli size support"
This is a discussion issue to add Brotli size support on the report, side by side with gzip.
On the app we support, 78% of users surf the web with a brotli-enabled browser.
Global support is around 60%.
See http://caniuse.com/#search=brotli

Also, in our tests, Brotli grants 10% more compression than Gzip.
We are developing a Angular CLI, Angular 4+ app.

I will be experimenting with a fork to add

[2017-09-07 07:12] valscion commented on #113
Huh, never heard of Brotli before 😄 . Awesome to learn new things!

@th0r should be able to answer with any suggestions and feedback, when he's got time. I'd like to at least see a proof-of-concept of this Brotli support if possible ☺️

[2017-09-07 07:39] th0r commented on #113
Never heard of Brotli as well. The only concern I have is the increasing of analyze time. Agree with @valscion here - it would be nice to see a proof-of-concept PR and comparison of analyze times with and without it.

[2017-09-07 07:47] valscion commented on #113
It might be possible to add brotli support if it would be calculated only when some CLI or plugin option would be there. That way it would not increase analyze time for those who don't yet care about Brotli.

[2017-09-07 07:48] th0r commented on #113
👍

[2017-09-08 20:08] aldo-roman commented on #113
Hi guys, here there is the PR for Brotli support. It is working without problems on my setup. I couldn't  include an opt-in option for the feature.

Here is a screenshot on how this looks:
![image](https://user-images.githubusercontent.com/497197/30229436-8e0be2b8-94a7-11e7-9d04-590216fc6207.png)

[2017-09-10 07:06] valscion commented on #113
Neat! I think it'll be necessary to have an opt-in somehow, but currently it might require some architectural changes. Large changes would cause difficult merge conflicts with #97, though — I hope I could get that finished some day 😕

I hope you're OK with using the Brotli support from your branch? It's a bit unlikely that we'll want to calculate these sizes by default as brotli isn't that widely

[2017-09-12 01:12] fruchtose opened #115 "Chunk trees become opaque with ModuleConcatenationPlugin in Webpack 3"
#### Issue description
Webpack 3introduces the plugin `webpack.optimize.ModuleConcatenationPlugin` for bundle optimizations. When used in conjunction with `BundleAnalyzerPlugin`, some chunks do not show their dependencies. Where there would once be a tree, there instead is an opaque label "<filename> + <X> modules". When the module concatenation plugin is removed, the tree becomes traceable again

[2017-09-12 06:29] valscion commented on #115
Hi! Thanks for opening an issue :). Would you be able to send a screenshot or even better, create a small reproduction repository for this case?

Also, if at all possible, would you be able to zip your bundles and stats.json?

I fear that there's little we can do with this. Although I've been wrong before about how ModuleConcatenationPlugin and webpack bundle analyzer work together 😅. I don't (yet

[2017-09-12 07:21] th0r commented on #115
Well, that's how `ModuleConcatenationPlugin` works. It concatenates (merges) multiple modules into a single one so they don't have "egdes" anymore - they don't have stat size, they can't be parsed to get real size etc.

What to you want to see inside of this concatenated module?

[2017-09-12 18:03] fruchtose commented on #115
At the very least, it would be nice for the documentation to mention that this plugin is incompatible with `ModuleConcatenationPlugin`. People who are not so familiar with Webpack's internals (like myself) will not assume that the two are incompatible.

[2017-09-12 18:55] th0r commented on #115
What do you mean by "incompatible"? It shows you that there is a merged module in your bundle that contains N other modules. It's an expected result if you understand what `ModuleConcatenationPlugin` does.

[2017-09-12 23:49] fruchtose commented on #115
By "incompatible" I mean that this plugin prevents the user from exploring the full dependency tree when included. Sorry, I should have used different wording.

Generally, my point is that users may include the `ModuleConcatenationPlugin` without realizing it will prevent a full visualization of the dependency tree.

It's not really obvious to _everyone_ that `ModuleConcatenationPlugin` will inter

[2017-09-13 08:12] valscion commented on #115
Hey, great idea! Would you be open to craft a PR to modify the README to contain information about this?

[2017-09-25 18:50] valscion commented on #112
I'm gonna close this issue due to inactivity, but feel free to send a new message here and I can reopen if needed, @evolve2k ☺️

[2017-09-25 18:50] #112 closed

[2017-09-29 17:57] evan-scott-zocdoc opened #119 "Plugin crashes when trying to stringify a large stat blob"
Not sure how big it starts to fail to be honest, but I don't think it's a massive number in terms of MB. It might make sense to adjust this plugin to use a streaming JSON stringifier and async write to disk to help overcome this?

Manifests itself commonly when using ModuleConcatenation on a webpack project with multiple entry points.

[2017-10-01 10:26] valscion commented on #119
What kind of a crash are you seeing? Would it be possible for you to generate an example repository that is big enough to demonstrate this crash? It would help us in making sure that we've fixed the problem.

[2017-10-01 14:18] evan-scott-zocdoc commented on #119
It’s Node running out of memory when calling JSON.stringify due to the size of the stats object.

Closed source and a big project, so I can’t share it unfortunately.

________________________________
From: Vesa Laakso <notifications@github.com>
Sent: Sunday, October 1, 2017 6:26:23 AM
To: th0r/webpack-bundle-analyzer
Cc: Evan Scott; Author
Subject: Re: [th0r/webpack-bundle-analyzer] Plugin crashes

[2017-10-01 14:26] valscion commented on #119
That's why I said _generate_ in "Would it be possible for you to generate an example repository". It would improve the possibility of getting this fixed in a reasonable time frame.

[2017-10-08 13:35] hlehmann commented on #119
I have the same since recently, when I added ModuleConcatenationPlugin. I get a `Very long string` error.

Here the stack.
[code]

[2017-10-08 13:39] hlehmann commented on #119
No issue when using `generateStatsFile: false`

[2017-10-09 07:46] hlehmann commented on #119
absolutly it crashes with `generateStatsFile: true` but not with `generateStatsFile: false`

current config:

    new BundleAnalyzerPlugin({
      analyzerMode: 'static',
      reportFilename: __dirname + '/../build-report.html',
      generateStatsFile: false,
      statsFilename: __dirname + '/../build-stats.json',
    }),

[2017-10-09 07:57] valscion commented on #119
Ok, that's relieving to hear! I wasn't sure what part of the plugin crashed, but if it was just the stats stringifying, then this should be pretty straightforward to fix.

We're open to accept a PR fixing this. The code in question is this:

https://github.com/webpack-contrib/webpack-bundle-analyzer/blob/e6fbbe78381821f95003a2bc248de1dfae08b2dc/src/BundleAnalyzerPlugin.js#L64-L72

It should be OK

[2017-10-09 14:40] broweratcognitecdotcom commented on #65
I'm trying to use this in an angular-cli generated project. It doesn't work because it chooses localhost by default. How can I use a specific host and port while using angular-cli? Thanks.

[2017-10-10 07:01] valscion commented on #65
Hi @broweratcognitecdotcom! Unfortunately, I don't know what `angular-cli` does and how it integrates with webpack-bundle-analyzer, so you might have more luck asking your question in their issue tracker or stack overflow.

[2017-10-10 10:01] d3viant0ne commented on #65
@valscion - There is no integration. The Angular/CLI simply outputs a `stats.json` which you target with `webpack-bundle-analyzer`.

From the command above, it looks like he is trying to execute that on a remote system.

[2017-10-10 10:15] broweratcognitecdotcom commented on #65
I had to add --host and --port to my scripts entry in my package.json:

"scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e",
    **"bundle-report": "webpack-bundle-analyzer --host 192.168.208.84 --port 4200 dist/stats.json"**
  },

[2017-10-10 10:24] valscion commented on #65
Ok great! Glad you got it working :relaxed:.

We should probably document the CLI options, too, so that these questions would have answers in the README already.

[2017-10-10 14:32] broweratcognitecdotcom commented on #65
That'd be cool. My solution is not really ideal because every dev at least here will be using a different host and port and there is only one package.json file. But at least i could finally see the report and verify that lodash was the culprit.

[2017-10-13 11:28] OliverJAsh opened #123 "Allow "find in page" or provide alternative means for searching"
Firstly, thanks for the helpful tool!

I want to search the tree for a module to finds its size. The built-in "find in page" browser feature doesn't work, presumably because the DOM is not being used. If that's the case, could this switch to using the DOM? Or, can we provide alternative means for searching the tree?

Note that find in page does work for [source-map-explorer](https://github.com/dan

[2017-10-13 12:02] valscion commented on #123
Hi! Thanks for the issue. I've found myself needing such a feature, too. Unfortunately, currently it is not possible.

You're right about the visualizer "not using DOM", because [Carrot Search FoamTree](https://get.carrotsearch.com/foamtree/demo/demos/index.html) (the visualization we use) renders the content to `<canvas>` tag and thus the output is not searchable.

Quickly glancing at the [FoamTr

[2017-10-17 08:30] thebedroomprogrammer opened #124 "Allow "Grouping" and other selectors to find a specific module in all the modules"
Thanks for making such a simple tool to analyse the dependencies in my react project.

I was just thinking if the future release can have features like "Grouping" , "Selecting" or "Searching" a specific module like in this example at https://get.carrotsearch.com/foamtree/latest/demos/ft500.html

[2017-10-17 08:50] valscion commented on #124
Hi! Thanks for the idea! We could utilize these features somehow. It'd be nice to see a design or a proof of concept of these ideas, so that we could discuss something more concrete and form opinions based on that.

If we'll ever want to think about the current reporter design more thoroughly, then utilizing these grouping/selecting/searching features would be a nice improvement.

I think we've go

[2017-10-19 06:36] chinchiheather commented on #43
You can generate the `stats.json` file using Angular-CLI and then use the command line webpack bundle analyzer
So you would run something like:
[code]

[2017-10-21 00:32] markwoon commented on #64
I'm experiencing this as well.

Any chance we could handle this on the analyzer side?  Perhaps a callback for us to normalize paths?  Or an option to automatically see if `node_modules` is in the path and eliminate anything before it?

[2017-10-23 07:37] valscion commented on #64
If anyone could create a simple reproduction repository showcasing this issue, we would be in a better position to triage this :)

[2017-10-23 15:42] markwoon commented on #64
You can't commit a symlink into git...

On Windows, you can reproduce it like this:

1) Checkout a repo
2) cd somewhere else
3) create a symlink to the repo (e.g. `mklink /J newdir repo`)
4) cd `newdir`

And you should see the problem.

[2017-10-24 07:32] valscion commented on #64
Huh? I've done that many times, at least on *nix systems you can commit symlinks.

I don't have a windows machine to create a reproduction case.

[2017-10-24 11:58] raushankumarnitdgp opened #125 "Only able to see stat size of file, not able to see parsed size"
#### Issue description
Only able to see stat size of file, not able to see parsed size. Or **

**

#### Technical info
* Webpack Bundle Analyzer version: "webpack-bundle-analyzer": "^2.9.0",
* Webpack version: "webpack": "^3.0.0",
* Node.js version: v8.6.0
* npm/yarn version: 5.5.1
* OS: Ubuntu 14.04 LTS

#### Debug info
How do you use this module? As CLI utility or as plugin?
First I created stat

[2017-10-24 12:12] valscion commented on #125
Hmm sounds like webpack-bundle-analyzer has trouble parsing your bundled code.

Are you able to zip your bundles and your stats.json, and upload it here? If you don't want to publicly paste your code here, feel free to send it to me via email. My email address is visible in my GitHub profile: https://github.com/valscion

[2017-10-24 12:33] raushankumarnitdgp commented on #125
is it possible to generate stats.json containing size of file as parsed size or minified file size.

[2017-10-24 12:53] valscion commented on #125
Unfortunately no.

`webpack-bundle-analyzer` calculates the parsed and minified file sizes by reading your bundled source files, and that is one of its main purposes.

[2017-10-25 07:08] valscion commented on #125
Discussion continued via email and @raushankumarnitdgp sent me this:

So I'll close this issue now.

[2017-10-25 07:08] #125 closed

[2017-10-25 21:50] markwoon commented on #64
Oops, you're right.

If I understand @dzearing correctly, you can reproduce on *nix by moving `node_modules` out of your repo and symlinking to it.

[2017-10-26 11:27] SpaceK33z opened #126 "Show time spent inside plugins/loaders"
At ReactiveConf Tobias, Sean and I were asked multiple times "why is my build so slow". Also at other events I notice people don't know how to improve their webpack build time because they have **no insights**.

At the event we'd start explaining some basic performance optimizations, but also saying "it depends on what you're trying to do", or "make webpack do less work" (looking at you @TheLarkIn

[2017-10-26 12:36] valscion commented on #126
Wow that sounds like a super neat idea! I'm not sure if it fits within `webpack-bundle-analyzer`, as we're only concerned about the generated output files

We could definitely extract useful bits out of this plugin to visualize loaders/plugins similarly to how `webpack-bundle-analyzer` visualizes bundle output.

I'd be excited to help with a proof of concept about this.

[2017-10-26 12:39] valscion commented on #126
The most crucial part to even get to visualize this would be to get hands on to something similar as `stats.json` from webpack. We'd need to get data on the build timings itself, and even better, to drill deeper down to what is taking so long.

I don't know how much a webpack plugin can do to extract these timings, but it might be a nice adventure to go digging around webpack code to figure out pl

[2017-10-26 14:14] samccone commented on #126
atm doing this is not really possible, I did a fair bit of research into making this exact tool.

The next rev of tapable will expose the primitives that are needed, however plugins will *need* to upgrade
https://github.com/webpack/tapable/issues/35

tweet storm of findings
https://twitter.com/samccone/status/897301366086942720

[2017-10-26 15:30] SpaceK33z commented on #126
Not sure either, perhaps we could first build this in a fork of this repo and then look at whether to integrate it or make it a standalone repo.

@samccone very cool, if the next tapable/webpack 4 will fix this it's perfect. This issue was not meant to be a quick fix so that's fine :). Do you plan to continue working on this when webpack 4 is released?

[2017-10-26 19:20] d3viant0ne commented on #126
@SpaceK33z - IMO this feels like something that could be standalone and visualized via something like webpack-dashboard or the electron version //cc @kenwheeler

@samccone - We can certainly ensure all the plugins that live here are updated accordingly and help drive the adoption for those plugins that live outside of contrib.

If you are going to continue running with whatever this ends up being

[2017-10-26 19:34] CompuIves commented on #126
I believe you're right @d3viant0ne, that's also how the conversation lead to this idea. Would love to help with this.

[2017-10-29 04:40] samccone commented on #126
More than happy to help.

webpack 4 is going to be a hard requirement though, once that is out and we have enough plugins updated we can go from there. I think the next best step is to come up with a design doc around what this tool will show and what the user stories are around this tool and its findings.

Thanks.

[2017-10-30 02:52] yankwan opened #127 "Can't recognize import key word"
When I run the common `webpack --profile --json > stats.json`, it report such error:

    import webpack from 'webpack';
    ^^^^^^

    SyntaxError: Unexpected reserved word
        at exports.runInThisContext (vm.js:53:16)
        at Module._compile (module.js:373:25)
        at Object.Module._extensions..js (module.js:416:10)
        at Module.load (module.js:343:32)
        at Function.Module.

[2017-10-30 08:52] valscion commented on #127
Hi,

thanks for the issue! This particular case is `webpack` command crashing, not our plugin.

As node.js, which runs the `webpack` command on your computer, does not yet support `import` keyword, you will need to use `require` instead of `import` in your webpack configurations.

Hope this helps! Have a great day

[2017-10-30 08:52] #127 closed

[2017-10-30 08:56] valscion commented on #126
Feel free to continue the conversation here, even though this issue isn't particularly about `webpack-bundle-analyzer` ☺️.

Seems like webpack 4 requirement is a must indeed.

I hope someone of you will keep the ball rolling on this issue, as I don't have time to take a lead on this 💞

[2017-10-30 19:15] everettwho opened #128 "Webpack 3 - Parsed size larger than stat size?"
#### Issue description

Hello!

I'm not 100% sure this is the right place to be posting, but I don't think any other repo would have the right context for this issue. I recently upgraded my app to Webpack 3 from Webpack 1 and saw an increase in the final gzipped bundle size. I found that strange because on the surface level the stats size of the Webpack 3 bundle was a good ~10% smaller than the We

[2017-10-31 08:51] th0r commented on #128
What is the difference between stat and parsed sizes?

[2017-11-02 23:20] everettwho commented on #128
Hmmmmm it looks like something related to tree-shaking, Lodash, and the way we try to reduce the size of Lodash in our bundle is causing the problem. I don't think this is a problem with `webpack-bundle-analyzer`. Sorry to bother you guys!

[2017-11-02 23:20] #128 closed

[2017-11-03 08:28] valscion commented on #128
Glad the issue was resolved :). Thanks for following up!

[2017-11-06 08:13] valscion commented on #119
@evan-scott-zocdoc and @hlehmann: Could you test PR #129 by @ryan953 on your local project to see if it fixes your issues?

[code]

...and then try to generate the stats file?

[2017-11-06 16:40] evan-scott-zocdoc commented on #119
@valscion just tried it out in our biggun project and it worked! Awesome job @ryan953, thanks!

[2017-11-08 20:06] jtorreggiani opened #130 "Security vulnerability in ws (WebSocket) package"
#### Issue description
There seems to be a security vulnerability in the `ws` package. The issue was discovered while running the Node Security Platform CLI utility as part of a continuous integration build.
[code]

#### Technical info
* Webpack Bundle Analyzer version: 2.3.1
* Webpack version: 1.14.0
* Node.js version: 8.9.1
* npm/yarn version: 1.3.2
* OS: macOS Sierra / Ubuntu

#### Debug info
H

[2017-11-09 08:29] valscion commented on #130
Thank you for reporting this issue!

If I looked at the vulnerability correctly, it was about there being a Denial-of-Service bug in `ws`. As `webpack-bundle-analyzer` is a development-only tool, this isn't as severe as it could be.

Nevertheless, I'll push an update out.

[2017-11-09 08:52] #130 closed

[2017-11-09 08:55] valscion commented on #130
Fix for this has been published in v2.9.1

[2017-11-09 23:49] jtorreggiani commented on #130
Thanks!

[2017-11-15 20:47] evmar opened #132 "License violation(?) in treemap widget"
This repository says it is MIT licensed, but it includes this code:
https://github.com/webpack-contrib/webpack-bundle-analyzer/blob/master/client/vendor/carrotsearch.foamtree.js
which does not appear to be MIT licensed but rather "Carrot Search confidential. / Copyright 2002-2016, Carrot Search s.c, All Rights Reserved."

[Disclaimer: I am the author of a different [treemap widget](https://github.

[2017-11-17 09:52] valscion commented on #132
I am not a lawyer, but if I've understood it correctly, having a different LICENSE declaration in https://github.com/webpack-contrib/webpack-bundle-analyzer/blob/master/client/vendor/carrotsearch.foamtree.js is enough to show that it isn't licensed under MIT.

[code]

Maybe someone else in @webpack-contrib is more well versed with these questions?

[2017-11-17 19:20] evmar commented on #132
Generally you cannot reused copyrighted code in a combined work and claim
the larger work has a less restricted license.

The license must explicitly allow you to use it in a combined work. For
example, MIT does, and apache2 calls it out:
https://opensource.stackexchange.com/questions/960/how-does-one-combine-differently-licensed-code-in-one-open-source-program

You might ask the author of this co

[2017-11-19 17:58] gkatsanos opened #133 "Understanding the output"
![image](https://user-images.githubusercontent.com/1768834/32993653-878ed6ec-cd5b-11e7-83ff-15d9ebc51d96.png)

Does this mean some things are loaded twice/tree shaking isn't working? (for example vue.esm)

[2017-11-20 08:13] valscion commented on #133
It looks like vue2-leaflet has its own version of vue npm module bundled in. Maybe it requires a different version of vue compared to your application?

Try `npm ls vue` -- you should only have one instance of vue there, but I think you'll find otherwise

[2017-11-21 10:29] gkatsanos commented on #133
Does this help? https://github.com/KoRiGaN/Vue2Leaflet/blob/master/package.json
I also posted an issue to their tracker.

[2017-11-21 12:08] valscion commented on #133
It might be that the version constraint of `vue` you have in your project's `package.json` is incompatible with what `vue2-leaflet` has (the one you linked).

It might be that `vue2-leaflet` should use `peerDependencies` instead of `dependencies` to specify the required version of `vue`. That might fix the issue of duplicated `vue` module.

I'll close this issue for now, as this is more of a suppo

[2017-11-21 12:08] #133 closed

[2017-11-21 13:11] gkatsanos commented on #133
Thank you! that's all very informative and I will investigate it to further understand the behavior of the bundler and dependencies/peerDependencies .

[2017-11-30 16:52] aciccarello commented on #115
Would there be any way for the bundle analyzer to at least list out the files that are included in the module? Currently I just seeing an `index.js + 77 module` file name. Even without the file sizes, knowing what files are included would be helpful.

![bundle analyzer output showing "index.js + 77 modules file name in rxjs](https://user-images.githubusercontent.com/11273838/33443117-02e17fd8-d5b4

[2017-12-01 06:45] valscion commented on #115
It depends on whether we have that information in the webpack generated stats.json. Care to look for any possible data we could use?

[2017-12-01 07:04] aciccarello commented on #115
Looks like the `moduleIdentifier` has a list of the included file paths

[code]

[2017-12-01 08:12] valscion commented on #115
Hmm interesting. Does the modules listed in the `moduleIdentifier` appear anywhere else in the stats.json?

[2017-12-12 06:51] simonbuchan commented on #5
If this still interests anybody, the name of this type of graph is a "Treemap" (confusingly, also occasionally used by people implementing a `Map<>` type with a tree structure). Googling "treemap js" comes up with several options:

- https://github.com/d3/d3-hierarchy/blob/master/README.md#treemap
- https://developers.google.com/chart/interactive/docs/gallery/treemap
- http://jstreemap.com/
- http

[2017-12-12 08:18] valscion commented on #5
@simonbuchan if you'd like to tackle this, one way of trying out a new treemap renderer could be to start off from where #97 is currently at. See #102 on an example of how I allowed the customization of the reporter for that upcoming version.

Would you be interested? I'd be curious to see a new pull request against `version-3` branch for anything you could whip up — if it turns out that we wouldn

[2017-12-12 09:36] simonbuchan commented on #5
Neato, that should make things easier. Here's just about the worst possible implementation of a Treemap you can do in HTML (abusing the heck out of flexbox) I made just to play around with the concept: https://codepen.io/simonbuchan/pen/KZKzww?editors=0110

The performance is nightmarish as it's bouncing back and forward between layout: I think for N leafs it would run layout O(N^3) times :), and

[2017-12-28 06:37] cngu opened #136 "Feature request: Reduced text/json "summary" of bundle sizes"
#### Request description
My end goal is to have a CI build track bundle sizes over time.

To accomplish this, I'd like all the "top-level bundle/chunk names" to "stat/parsed/gzip size" mappings (essentially all the existing data being displayed in the left sidebar of the interactive index.html report), but in a simpler text or json output file to make it easier for the CI build retrieve this data.

[2017-12-28 08:20] th0r commented on #136
Hi! There is a [WIP PR](https://github.com/webpack-contrib/webpack-bundle-analyzer/pull/97) by @valscion that will allow to use any custom reporter instead of the built in one so you'll be able to simply generate some JSON (or whatever) file with the info you need.

[2017-12-28 08:35] valscion commented on #136
@cngu thanks for the issue! th0r is right, my PR will make it possible to implement this kind of reporter easily. It's encouraging to hear that there is demand for this kind of feature -- I've been slighly demotivated at times to work on the version 3 PR as I haven't been sure if people would need it

[2017-12-28 08:35] #136 closed

[2017-12-28 14:06] ruucm-working commented on #43
@chinchiheather Thanks!!

[2017-12-28 16:54] cngu commented on #136
@th0r @valscion Thanks guys! Version 3 sounds great, I'm looking forward to it! I can see how it might be demotivating, but there's definitely demand, even if it's only to update the plugin architecture, make contributions easier, get new users trying out the shiny new v3, etc. This plugin is essential in my opinion -- it's even included by default in the official Vue webpack template!

[2017-12-28 19:34] ronaiza-cardoso opened #137 "Use this on Ionic 2 application"
#### Issue description
Is there a way of using this on Ionic 2 aplication?

#### Debug info
I'm trying to use this on my Ionic 2 app but I cant find a way of running it.

[2017-12-29 05:31] valscion commented on #137
Hi! Have you tried asking this question iver at Stack Overflow? I unfortunately don't have knowledge about Ionic and can't help much. Does it generate JS bundles with webpack under the hood? If so, you could try looking around if you could generate a stats.json file (similar to what `webpack --profile --json > stats.json` would create). Then you could use the CLI tool to analyze your bundles.

[2018-01-02 09:39] montogeek commented on #126
@samccone did some work related to this https://twitter.com/TheLarkInn/status/945486181575340032
Couldn't find if he released it or would be include in webpack v4

[2018-01-02 14:55] samccone commented on #126
This is the PR I would recommend following
https://github.com/webpack/webpack/pull/6207

The plans are to land this in webpack#next as it required a pretty major plugin change to become possible

![](https://pbs.twimg.com/media/DSKGjLhUMAAfRwa.jpg:large)

[2018-01-02 19:45] sompylasar opened #138 "Server errors are unhandled"
#### Issue description

After introducing `webpack-bundle-analyzer`, the following two errors started crashing the development server process.

When accidentally using the same `analyzerPort` for the plugin in two webpack configs within the same process (universal, for browser-side and server-side) – configuration issue, has a workaround:
[code]

When quickly refreshing the analyzer webpage while

[2018-01-02 22:01] jmm commented on #107
One way I've found to zoom all the way out, at least in Chrome Mac, is to press <kbd>Esc</kbd>. But it'd be really nice to be able to incrementally zoom in / out using the keyboard, and it'd be nice if you could drag a box with the mouse to zoom in. A way to filter by typing path regexes would also be nice.

[2018-01-03 08:35] valscion commented on #138
Hi! Thanks for the detailed issue, it's highly appreciated :relaxed:

Is it so that you are however able to use the tool anyway? So that nothing is fundamentally broken, albeit the UX is definitely suboptimal here.

[2018-01-03 08:58] sompylasar commented on #138
I can, yes, and it's already proven to be very helpful: discovered code splitting to not work, fixed, shaved off 300 KB of initial load of 1.41 MB app.

Due to the large number of modules to build, though, the development hot reloading server crashing is quite inconvenient because it needs to rebuild all the modules (I didn't go with caches across builds for reliability).

[2018-01-03 11:40] valscion commented on #138
Great, thanks for the additional info!

Would you perhaps have a chance at trying out editing this code to add some resiliency to the quick reloads? I don't use the dev server myself, so I am not able to start digging into this without someone else looking into it first.

https://github.com/webpack-contrib/webpack-bundle-analyzer/blob/a9282dec4fdb87e3ccdc2b996bcf3b7f5172b39f/src/viewer.js#L25-L99

[2018-01-03 15:05] th0r commented on #138
Looks like this error can be caused by [this issue](https://github.com/websockets/ws/issues/1256) in `ws`.

Can you  check your `ws` version using `npm ls --depth 0 | grep ws@`?

[2018-01-04 08:11] ai opened #139 "Add source map support"
**TLTR:** feature request to split files in Webpack stats according to source map files.

Thanks for the awesome tool. I used it in [Size Limit](https://github.com/ai/size-limit) to prevent JS libraries bloat. Autoprefixer, PostCSS, Material UI, MobX uses Size Limit.

Size Limit creates empty webpack project add your open source JS libraries and calculate project size difference to get real cost o

[2018-01-04 09:12] valscion commented on #139
Hi! This seems like a neat idea!

However, I'm afraid this will be out of scope of `webpack-bundle-analyzer`. We specifically work from the stats file generated by webpack and use that as the module source of truth — sourcemaps would be completely different from this. I'm more worried about the maintenance burden than I am about implementing the first pass of this feature.

Maybe your use case wou

[2018-01-04 09:17] ai commented on #139
@valscion I agree that this feature is not useful for everyone. So I agree with you that it will be better to add this feature as some sort of addition step between webpack and `webpack-bundle-analyzer`.

I am not sure that it is out of `webpack-bundle-analyzer` goal. More detailed bundle analysis is always useful.

`source-map-explorer` looks nice, but we need a server and better design. As resul

[2018-01-04 09:23] valscion commented on #139
I don't think it will be possible to get parsed or gzip support in, even if we'd have a step between sourcemaps and `webpack-bundle-analyzer`. This tool parses the bundles generated by webpack and then maps modules using AST-based search to the actual module names discovered from webpack stats file. I don't think it will be possible to do that with sourcemaps.

Feel free to try out if it can be do

[2018-01-04 09:23] #139 closed

[2018-01-07 15:48] Drulac opened #141 "Use template-literal instead of EJS"
[Template Literal](https://github.com/Drulac/template-literal) is fastest, smallest and simplest template engine, because it use JS's literal template feature,

It's  55 times faster than EJS, so it may be a good idea to use it instead of EJS 😀

[2018-01-07 16:00] th0r commented on #141
Thanks for the proposal, but does it have any other benefits in addition to speed? I'm asking because speed is not critical here at all.

[2018-01-07 17:09] Drulac commented on #141
It use less CPU and RAM ressources

[2018-01-07 19:36] th0r commented on #141
Sorry, but I don't see any serious benefits of replacing it with your template engine.

[2018-01-07 19:36] #141 closed

[2018-01-08 11:07] valscion commented on #138
This should be fixed by #140. I published a new version with the fix, v2.9.2

[2018-01-08 11:07] #138 closed

[2018-01-08 12:51] valscion commented on #115
Closing due to inactivity. Feel free to comment if you or anyone else is willing to dig deeper or create a proof of concept.

[2018-01-08 12:51] #115 closed

[2018-01-13 16:35] JustFly1984 opened #142 "Doesn't work together with compression-webpack-plugin"
#### Issue description
...

#### Technical info
* Webpack Bundle Analyzer version: latest
* Webpack version: latest
* Node.js version: latest
* npm/yarn version: latest
* OS: OSX is not relevant

#### Debug info
How do you use this module? As CLI utility or as plugin?

As webpack plugin

If plugin, what options were provided? (e.g. `new BundleAnalyzerPlugin({ analyzerMode: 'disabled', generateStat

[2018-01-13 17:05] th0r commented on #142
What do you mean by "it doesn't work"?

[2018-01-14 12:51] JustFly1984 commented on #142
Doesn't display file sizes for `chunk.js.gz`

[2018-01-14 14:01] th0r commented on #142
Does it show eny errors in the console?

[2018-01-15 00:56] JustFly1984 commented on #142
Nope. I know why it is happens: deleteOriginalAssets option of CompressionPlugin is set to true, so there is no js files at all - only js.gz left - so there is no file sizes output. Your plugin thinks that there is no JS files.

[2018-01-15 05:53] th0r commented on #142
Well, yes, that's exactly what I was thinking about but it should show at least a warning messages that it couldn't find any *.js assets or couldn't parse them. Anyway, plugin expects bundles to exist in file system in order to parse them so I don't really know how to solve your problem. The only solution I see is to try to analyze them *before* they're deleted by `CompressionPlugin`.

Could you c

[2018-01-18 10:14] th0r commented on #142
@JustFly1984 will you be able to provide reproduction repo or this issue is not relevant anymore?

[2018-01-18 10:16] #137 closed

[2018-01-18 10:24] #119 closed

[2018-01-18 23:23] DioNNiS opened #144 "Feature: Show size next to the name"
It will be nice to have an option to shown module/file size next to the name.
The same as it implemented in https://github.com/danvk/source-map-explorer.

It will help to analyze report if the screenshot has been taken and without mouse moves...

[2018-01-19 06:57] valscion commented on #144
Hi! Thanks for the suggestion :relaxed:. I don't think we will take this on anytime soon, so I'll close this issue. We'll keep this idea in mind, though!

[2018-01-19 06:57] #144 closed

[2018-01-19 22:27] AndrewSouthpaw commented on #15
Amazing tool!

Unfortunately, the parsed size isn't showing up for me. I'm running `2.9.2`, and I'm not seeing any errors in the output. Any pointers on what might be going wrong?

[2018-01-19 22:38] AndrewSouthpaw commented on #15
For those still having issues getting the `parsed` info: make sure you're not running `webpack-dev-server`, because then it won't work correctly. It's easy to do when you have a shortcut to start your dev environment. 😅

[2018-01-24 15:13] th0r commented on #142
Closing due to inactivity.

[2018-01-24 15:13] #142 closed

[2018-01-29 14:25] yesvods opened #145 "Webpack4.0 Support"

[2018-01-29 17:36] th0r commented on #145
Fill issue details please.

[2018-01-29 17:36] #145 closed

[2018-01-31 16:49] LFeh opened #147 "Just shows `stat size`"
#### Issue description

I was using `webpack-bundle-analyzer` normally, but in last times, the result just shows `stat size` and no more `gzip size` and `parsed size`.

#### Technical info
* Webpack Bundle Analyzer version: 2.9.1
* Webpack version: 3.10.0
* Node.js version: 6.10.2
* npm version: 5.6.0
* OS: macOS HighSierra

#### Debug info
How do you use this module? As CLI utility or as plugin?

[2018-02-01 09:44] th0r commented on #147
What is shown in the console?

[2018-02-01 12:46] LFeh commented on #147
No errors

<img width="668" alt="screen shot 2018-02-01 at 10 46 30 am" src="https://user-images.githubusercontent.com/3603793/35679161-328fd562-073d-11e8-9e6c-0b6cdc7a98d3.png">

[2018-02-01 12:54] th0r commented on #147
Can you run it in normal terminal console?

[2018-02-01 13:14] LFeh commented on #147
Ahhhh, it's true

[code]

Do you have any idea? haha

[2018-02-01 13:16] th0r commented on #147
Do you have `scripts.59de71cec066f973cfec.bundle.js` file in that folder?

[2018-02-01 13:26] LFeh commented on #147
Yes! I have an error on file.

The problem is because has an error on `picturefill` lib, I'll investigate it. Thanks!

[2018-02-01 13:26] #147 closed

[2018-02-02 18:52] valscion commented on #147
This seems to be a common issue people have -- maybe we could make the parsing error text pop out in a much more visible way..?

Just thinking out loud. Improving logging and errors is something I'd love to help make happen after I get the v3 done 😊

[2018-02-02 18:53] LFeh commented on #147
@valscion I agree 😄

[2018-02-03 20:30] whitecolor opened #150 "Doesn't parse child workerize'd module"
#### Issue description
I use https://github.com/developit/workerize-loader to bundle some scripts for webworker, but bundle analizer doesn't parse and display it.

#### Technical info
* Webpack Bundle Analyzer version: 2.10.0
* Webpack version: 3.5.5.

![image](https://user-images.githubusercontent.com/736697/35771207-77510c84-094a-11e8-8c71-6e8d11ab7c10.png)

As you see there is not `worker` modu

[2018-02-04 10:00] valscion commented on #150
Nice find! Would you be able to provide a webpack stats JSON object for your build so we could take a closer look? If you don't want to share the stats JSON, could you create a small reproduction repository which showcases this issue?

It could be that worker chunks are a bit different, and we'd need to do extra work to be able to get them in to the visualization.

[2018-02-04 10:04] valscion commented on #119
Fix by @ryan953 has been released in v2.10.0 :tada:. Upgrading might be a good idea :wink:

[2018-02-04 15:35] whitecolor commented on #150
Think for you a better way to get what you need will be just adding basic workerized module test, just following instructions in the readme:

## Install

[code]

### Usage

**worker.js**:

[code]

**index.js**: _(our demo)_

[code]

[2018-02-04 16:38] valscion commented on #150
Setting up a new project is too much trouble right now for the time I have. Would you be able to setup an example project with this where the stats.json could be generated easily?

[2018-02-04 19:38] whitecolor commented on #150
Will try.

[2018-02-09 08:35] FDIM commented on #147
I had similar issue to this. For some reason it fails to parse `scripts.[hash].bundle.js` and doesn't show gzip or parsed sizes for any other module. Doing little cleanup in`stats.json` made it work properly - I am able to see the sizes.

[2018-02-09 14:47] DanielHoffmann opened #152 "Nodejs script finishes execution before report.html gets generated"
Hi, I am trying to use webpack-bundle-analyzer, but the report.html is not being generated. This seems very similar to #16, but it is still happening to me (v2.10.0). I believe this is happening because I am running webpack from a nodejs script. Here is a simplified version of what I am doing:

[code]

and my webpack config is simply using:

[code]

My nodejs is exiting before the bundle-analyzer

[2018-02-09 16:11] valscion commented on #152
Hi! Thanks for the issue. This does seem interesting.

Could you try cloning this repository and running the plugin with the `setImmediate` wrapping removed from here?

https://github.com/webpack-contrib/webpack-bundle-analyzer/blob/b2a617c176f2fd76a12fa8806f3383867b148c1a/src/BundleAnalyzerPlugin.js#L57-L59

Instructions on how to link own local copy of `webpack-bundle-analyzer` to your own proje

[2018-02-09 16:17] DanielHoffmann commented on #152
@valscion Hi, thanks for the quick response! I get the exact same logs on my webpack output as I do when I don't add BundleAnalyzerPlugin
I will try doing what you suggested on monday, if it works for me should I make a pull request?

[2018-02-09 16:19] valscion commented on #152
If it works for you, then we should create a minimal reproduction repository next so I could understand _why_ it works. `setImmediate` should prevent Node.js from exiting as Node will know there is stuff on the event loop still and should not exit, unless `process.exit()` is called somewhere.

It could also be that somewhere deep inside `webpack`, `process.exit()` is called before webpack bundle a

[2018-02-19 22:15] diiaann opened #153 "High cpu on docker container due to webpack analyzer"
#### Issue description
In between `2.9.1` and `2.10.1` we noticed that upon starting our webpack build, our rebuilds were extremely slow. After the initial webpack build command, cpu usage would shoot up to >99% and stay there. Thus subsequent rebuilds due to the watch command would take minutes instead of the usual second.  Holding everything constant and pinning the version of `webpack-bundle-an

[2018-02-20 08:25] valscion commented on #153
Hi! Thanks for the detailed issue, I'll look into it.

When you say "version `2.10.1`", you probably mean `2.10.0`, right? I don't think we've published a patch release after `2.10.0` ☺️

[2018-02-20 08:28] valscion commented on #153
Could you try running with `generateStatsFile: false`? It's likely that your high CPU usage is due to https://github.com/webpack-contrib/webpack-bundle-analyzer/pull/129. Could you verify that version `2.9.2` still works for you, so that we can be sure the regression happened between 2.9.2 and 2.10.0?

[2018-02-21 12:41] ai opened #154 "Webpack 4 outputs deprecation warnings"
#### Issue description

Using `webpack-bundle-analyzer` with Webpack 4:

[code]

#### Technical info
* Webpack Bundle Analyzer version: 2.10.0
* Webpack version: Webpack 4.0.0-beta.2
* Node.js version: 9
* npm/yarn version: 1.3.2
* OS: Linux

#### Debug info

How do you use this module? As CLI utility or as plugin?

Plugin inside [Size Limit](https://github.com/ai/size-limit/)

If plugin, what opt

[2018-02-21 12:54] valscion commented on #154
Hi, and thanks for raising an issue! So to clarify, `webpack-bundle-analyzer` works but it outputs a deprecation warning with webpack 4?

The deprecation warning is a result of this line:

https://github.com/webpack-contrib/webpack-bundle-analyzer/blob/b2a617c176f2fd76a12fa8806f3383867b148c1a/src/BundleAnalyzerPlugin.js#L35

Do you have an idea of how a plugin can support both webpack 3 and 4 at t

[2018-02-21 12:56] ai commented on #154
@valscion

Yeap :)

In the same cases, I used this method:

[code]

But I am not 100% sure about this case.

[2018-02-21 13:00] valscion commented on #154
Should be pretty easy to do that :). Would you be open to trying this approach out with webpack 4? https://github.com/webpack-contrib/webpack-bundle-analyzer/blob/master/CONTRIBUTING.md has intructions on how to setup the build pipeline for this project and link to your own project for local testing. Or maybe @jaydenseric would like to give this a try if you've got time?

[2018-02-21 13:02] ai commented on #154
@valscion sure, if nobody closes it until Friday, I will try to fix (Friday is my open source day =^_^=).

[2018-02-21 13:07] valscion commented on #154
:+1: thanks!

I noticed that CONTRIBUTING.md still has a mention of `dev` branch, which to my recollection has been deleted from this repository quite some time ago already. #155 hopefully clarifies the situation a bit :relaxed:

[2018-02-21 13:10] evilebottnawi commented on #154
@valscion better do major release than use `if (compiler.hooks) {} else {}`, we will do this in contrib after webpack 4 was release, right now is it just warning and it is not critical

[2018-02-21 13:11] ai commented on #154
@evilebottnawi if you will do major release all next Bundle Analyzer releases will be unavailable for Webpack 3 users

[2018-02-21 13:15] valscion commented on #154
If possible @evilebottnawi, I'd rather support both webpack 3 and 4. We only use the `done` hook in this plugin so compared to other plugins and loaders, supporting both versions should be trivial. Does this sound like a good approach to you?

[2018-02-21 14:28] th0r commented on #154
@evilebottnawi is there a recommended way to support both Webpack 4 and 3 APIs? @sokra?

[2018-02-21 18:33] michael-ciniawsky commented on #154
`webpack >= 4` supports the 'old' Plugin API, so I recommend the compat is handled in/by webpack itself. There should simply be a flag or the like to suppress the warnings instead of working around that  by plugin/loader authors :). It's still just a warning and the code is functional

[2018-02-21 19:36] sokra commented on #154
you can do the following:

[code]

[2018-02-23 16:36] ai commented on #154
@valscion I made a PR #156

[2018-02-23 19:29] #154 closed

[2018-02-23 19:36] valscion commented on #154
Fixed in v2.10.1 :tada:, thanks @ai for the pull request!

[2018-02-25 08:37] sokra opened #157 "more info for concatenated modules"
#### Issue description
Currently concatenated modules are displayed in a bit in-transparent way.
webpack 4 does include more information about these modules in stats, i. e. all modules which are included in the concatenated module.
With these information bundle analyser can display more details for concatenated modules. I would propose to display included modules as children in the same way as mod

[2018-02-25 15:54] #157 closed

[2018-02-25 16:19] th0r commented on #157
Fixed in `v2.11.0`

[2018-02-26 08:29] valscion commented on #115
webpack 4 has added additional information to the stats object and we can display an approximation of module sizes for webpack 4 :tada: https://github.com/webpack-contrib/webpack-bundle-analyzer/pull/158

[2018-02-26 18:23] sokra commented on #157
awesome

[2018-02-27 08:06] valscion commented on #153
Hi @diiaann, have you had a chance to look into my earlier comment? ☝️

[2018-02-27 09:45] olee commented on #124
This would be nice to group by asset type like css, html and js!

[2018-02-28 18:59] smashercosmo commented on #125
Having the same issue: I can see only stat sizes. Any receipt?

webpack v3.10.0
webpack-bundle-analyzer v2.11.0

[2018-03-01 07:52] th0r commented on #125
@smashercosmo could you paste console output here?

[2018-03-01 08:35] valscion commented on #125
@smashercosmo better yet, please open a new issue and paste the console output as asked by @th0r above. Replying to closed issues makes it very difficult to track and help resolve.

[2018-03-02 11:26] lependu commented on #12
Hi!
Just for the record, the `next-bundle-analyzer` has hardcoded config which does not suit me.
But I stole its code and make it work in server mode:
[code]

[2018-03-05 21:44] zbuhler commented on #147
I was having this problem as well and it appears it is due to the fact that `script.[hash].bundle.js` is not a true webpack bundle/chunk. The CLI seems to just concatenate the files you specify in the .angular-cli.json into a chunk of js. Excluding it from the stats.json file does seem to let the other modules work correctly as @FDIM suggested. I looked for the ability to exclude the scripts bundl

[2018-03-06 07:46] valscion commented on #147
Any chance of creating a zip of your bundle dir contents and stats.json? We might be able to do something about your situation, @zbuhler

[2018-03-06 15:35] florian-bd commented on #147
I got the same problem after upgrading to webpack 4. I am not using any angular.cli

[2018-03-06 15:46] valscion commented on #12
I wonder if https://www.npmjs.com/package/port-authority might be useful here. We could try finding a port starting from the default value if a specific value is not set.

[2018-03-06 15:47] valscion commented on #147
Please open a new issue folks! It would help a lot in figuring out what is broken!

[2018-03-06 17:17] zbuhler commented on #147
@valscion I can upload my bundle dir and stats but first I thought I'd let you know I created a fresh Angular CLI project to see if I can narrow down the problem. I added jquery (just as a test) in my scripts array in my .angular-cli.json

[code]

Which generates a `scripts.[hash].bundle.js` in my bundle dir.  Like I mentioned above the src of that file does not have webpack anything in it. It jus

[2018-03-07 07:15] valscion commented on #147
Thanks for the extensive comment, @zbuhler! Now I finally understand how the interplay with angular-cli works :smile:

A new issue specifically for your case would be great! It could be focused specifically on Angular CLI + scripts interplay, and contain the details you outlined in your comment. Maybe it could be titled "Angular CLI with scripts forces displaying of only stat size"?

I'm not yet s

[2018-03-08 17:03] zbuhler opened #160 "Angular CLI with scripts forces displaying of only stat size"
#### Issue description

When using the webpack-bundle-analyzer in conjunction with the Angular CLI there is an issue with parsing the `scripts.[hash].bundle.js.`

When specifying scripts to put in the script bundle via the .angular-cli.json those scripts get concatenated and not wrapped in any webpack functionality like "`webpackJsonp(`". This appears to result in a parsing error with the webpack-

[2018-03-08 17:04] zbuhler commented on #147
Thanks for the feedback! Per your suggestions I created  an [issue](https://github.com/webpack-contrib/webpack-bundle-analyzer/issues/160) and a sample repo to go with it.

[2018-03-09 08:14] valscion commented on #160
Hi! Thank you so much for creating a new issue, this makes tracking this case much easier :relaxed:.

I tagged this as a "feature" for now, as `webpack-bundle-analyzer` as it currently stands isn't broken per-se — it just won't work with Angular CLI the way we'd like it to.

We'll get to this issue when we have time. On a quick glance, it seems that we've got enough information to be able to figur

[2018-03-12 11:34] brendanmoore commented on #150
Same issue with `worker-loader`

A snippet from my stats file
[code]
Ignored because chunks is empty: (`analyzer.js`)
[code]
https://github.com/webpack-contrib/webpack-bundle-analyzer/blob/master/src/analyzer.js#L34

[2018-03-12 16:52] mpontus opened #161 "Webpack bundle analyzer does not accurately represent effects of tree-shaking in webpack 4"
#### Issue description
Webpack 4 enables dead code elimination from ES6 modules which declare themselves as side-effect free via `"side-effects": free` in package.json.

[Source](https://medium.com/webpack/webpack-4-beta-try-it-today-6b1d27d7d7e2#9a67)

I tested this feature on an example project which I published here:
https://github.com/mpontus/tree-shaking-example

I attempted to verify that I

[2018-03-13 08:06] valscion commented on #161
Hi, thanks for the detailed issue! It seems that you are looking at the "stat" size for `webpack-bundle-analyzer`. Could you try showing the "parsed" size or "gzip" size instead? Those will display the sizes of what is actually in your bundle.

Set `defaultSizes` option for the plugin to `"parsed"` or `"gzip"` and you should see those sizes when the UI starts up. You can also change between differ

[2018-03-13 08:38] mpontus commented on #161
@valscion Hello, absolutely.

Here is the screenshot of webpack bundle analyzer for individual import with gzip sizes:
https://i.imgur.com/mmeOxk9.png

And here's for destructuring import with gzip sizes:
https://i.imgur.com/cWSLxU0.png

Parsed sizes look very similar:
indivudal import: https://i.imgur.com/kcqN2C1.png
destructuring import: https://i.imgur.com/RqWsvxj.png

[2018-03-13 09:29] valscion commented on #161
It seems that the tooltips in your example only show "stat size", which implicates that the Gzip and parsed size calculation failed for some reason. That is why you're seeing wrong sizes

[2018-03-13 10:11] mpontus commented on #161
@valscion My bad, I can see the gzip and parsed sizes when I hover something outside of node_modules.

Individual import:
![](https://i.imgur.com/O62HpI9.png)

Destructuring import
![](https://i.imgur.com/TZv061k.png)

I believe parsed size is accurate.

If I change the code to use a few other functions imported from "ramda/es" like this:

[code]

This makes bundle size grow from 3.22 KB to 13.4 K

[2018-03-13 11:19] valscion commented on #161
Ah right, yeah this is because of the `(concatenated)` part you're seeing. Seems like the heuristic implemented by @th0r in #158 does not take into account tree-shaking that has happened.

Could you try specifying `optimization.concatenateModules` setting in your webpack config as `false` and then try again? It will hide the internal parts of the concatenated modules, so you will get similar looki

[2018-03-13 11:36] mpontus commented on #161
@valscion Thank you for looking into this issue.

I don't see significant change in webpack-bundle-analyzer's graph after disabling `optimization.concatenateModules`. It does increase the bundle size from 3.22 KB to 53 KB.

It also makes source-map-explorer show graph similar to webpack-web-analyzer, which includes all of the modules which I expected to be omitted.

![](https://i.imgur.com/tNaBtOo

[2018-03-13 11:50] th0r commented on #161
The thing is actual dead code elimination is done by `UglifyJSPlugin`, not webpack itself. Webpack just packs and annotates source code in the way that UglifyJS will be able to determine unused code and remove it from the resulting bundle.

This is the reason you see a lot of actually "excluded" modules under concatenated module - webpack concatenated them all but UglifyJS removed all the unused o

[2018-03-13 12:03] evilebottnawi commented on #161
@th0r https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/247

[2018-03-13 12:04] th0r commented on #161
@evilebottnawi ?

[2018-03-13 12:07] valscion commented on #161
Thanks for explaining this out to us, @mpontus. The current behavior is indeed confusing and unoptimal. I'm not sure if there's much we can do, as @th0r said in his first comment, but at least we're now on the same page about this issue :smile:

[2018-03-22 07:49] flopes89 opened #162 "Break down "+ x modules" for more information"
#### Issue description

What does the "+ x modules" description mean exactly? Given e.g. this analyzer output:

![4lxvw](https://user-images.githubusercontent.com/1453127/37757429-5146063e-2dad-11e8-8c10-ecc35782a96e.png)

What exactly does the huge "+ x modules"  mean? How can I analyze it / break it down further to see, whats inside?

#### Technical info
* Webpack Bundle Analyzer version: 2.11.1

[2018-03-22 07:59] valscion commented on #162
Hi! Thanks for the detailed issue description ☺️

This is a known issue, and in this case, a duplicate of #115. With webpack 4, we will get enough details to show an approximation of what is in these "+ x modules" — see #158 for the new feature :tada:

The new feature can be a bit misleading as it doesn't filter away tree-shaked modules. And for that case, we've got #161.

[2018-03-22 07:59] #162 closed

[2018-03-22 08:01] valscion commented on #162
Oh, and you could get visibility into these opaque chunks by removing usage of `webpack.optimize.ModuleConcatenationPlugin` in your webpack code.

[2018-03-22 08:04] flopes89 commented on #162
Thanks for the pointers! I will check them out and follow them :)

[2018-03-29 01:30] Legends opened #163 "Output does not reflect what bundle-analyzer shows"
#### Issue description
The bundle-analyzer stats show:
jQuery and RoundSlider.min.js

But there are ~4 more modules inside of `view.default.index.chunk.js` chunk?!

![image](https://user-images.githubusercontent.com/966368/38064965-0d3ef582-3301-11e8-811c-adc94826df42.png)

#### Technical info
* Webpack Bundle Analyzer version:   "version": "2.11.1",
* Webpack version: 4.3.0
* Node.js version: 8.1

[2018-03-29 07:49] valscion commented on #163
Hi! Nice to see you here ☺️

Could you please clarify? Are these ~4 more modules visible in the screenshot you posted?

[2018-03-29 08:36] Legends commented on #163
Hi :-)
No, there are not visible, that's why I ask. Shouldn't they be visible in the screenshot?

[2018-03-29 11:02] valscion commented on #163
Ooh so you have _more_ modules than is visible, right? I understood that you meant that the screenshot has _too many_ modules, not _too little_ :smile:

[2018-03-29 11:08] valscion commented on #163
And yes, your modules are visible in the screenshot — they're just so so minimal compared to the size of jquery and roundslider you have there:

![screen shot 2018-03-29 at 14 07 33](https://user-images.githubusercontent.com/482561/38085812-99f635c2-335a-11e8-9347-47181dafbd2c.png)

I opened your stats.json (thanks for providing it!) and I saw the modules there:

![screen shot 2018-03-29 at 14 08

[2018-03-29 11:08] #163 closed

[2018-03-29 11:39] Legends commented on #163
In the middle of the black line? haha... I have to check that.

An improvement would be, to make jQuery (bigger bundles) smaller, but super little ones bigger...
There should be such thing as a minimum size.

Just a thought...

[2018-03-29 12:00] valscion commented on #163
Yeah that might be a good idea. Having the visualization collapse very small chunks to nearly invisible lines isn't very user friendly 😅

We precisely want to highlight huge dependencies, like jquery, so you can easily spot them from the rest of the output. Once your projects start to grow, then this UI problem will be less of an issue.

Thanks for the input :relaxed:

[2018-03-29 12:08] Legends commented on #163
I guess, I am using the wrong plugin then, which one would you recommend, if someone wants to see which modules are in which chunk?

[2018-03-29 12:17] valscion commented on #163
Hmm I don't know, sorry. You can keep on using this plugin to see it, just be mindful of small modules being very small in the UI.

I'd be interested to know what is your use case for needing to see which modules are in which chunk, while your own code is quite small, if you don't mind me asking?

[2018-03-29 12:20] Legends commented on #163
I am switching to wp v4, and have some problems like empty css files (will try MiniCssExtractPlugin now) and yeah, it's different now and still didn't grasp wp v4, but I am on my way to explore it, that's why I compare configuration changes with output.. :-)

[2018-03-29 12:34] valscion commented on #163
Ah ok :) good luck to your journey!

[2018-04-03 14:22] esoyke opened #164 "Finds stats but not rendering, console error: Uncaught FoamTree: element has zero dimensions"
#### Nothing rendered, getting error in console:
`Uncaught FoamTree: element has zero dimensions: 0 x 0`

#### Technical info
    "webpack-bundle-analyzer": "^2.11.1",
    "webpack-dev-server": "^2.10.1"
* Node 6.9.5
* npm 3.10.10
* OSX

#### Debug info
Ran: 'npm run bundle-report', with this in package.json scripts section: "bundle-report": "webpack-bundle-analyzer dist/stats.json"

It launches t

[2018-04-05 07:36] mjamesderocher commented on #164
The page is blank, but the sidebar is loading.

[2018-04-05 07:36] JacobBlomgren commented on #152
I too have this problem. Any updates? I export two webpack configs, with the bundle analyzer enabled for both, with static mode, different file names. I get it to work with the normal webpack, but when I go on to use parallel-webpack, only one of the reports are generated. It's of course totally possible that parallel-webpack calls `process.exit()` somewhere and I should open an issue there instea

[2018-04-05 08:15] valscion commented on #152
We'll need a reproduction repository to undertand the root cause.

[2018-04-05 08:16] valscion commented on #164
Does the sidebar allow you to change the size used? Or is your stats size empty?

[2018-04-05 09:16] mjamesderocher commented on #164
The sidebar allows you to change the size used. It has the checkboxes to let you select what chunks to show. When clicking to change the size used, the console gives the error "Treemap.jsx:106 Uncaught (in promise) TypeError: Cannot read property 'update' of null"

[2018-04-05 09:28] th0r commented on #164
Example works for me. I did this:
[code]

![1](https://user-images.githubusercontent.com/302213/38357984-c1f9edda-38cc-11e8-9dd6-c3684c297dd2.gif)

[2018-04-05 12:02] mjamesderocher commented on #164
I'm using Windows 10. Node version is 8.9.4. NPM is 5.6.0.

[2018-04-05 12:03] th0r commented on #164
@mjamesderocher and commands above open broken report for you?

[2018-04-05 12:25] DanielHoffmann commented on #152
For my other project I just left the setTimeout there, it only does that in production builds so it is not a big deal hahaha

[2018-04-05 18:03] JacobBlomgren commented on #152
Interesting, because I couldn't reproduce it either! Anyhow, for me it might have been parallel-webpack, because upgrading from v2 to v3-alpha fixes it. However, I suspect the issue is partly with this project because I had other another plugin (webpack-stats-plugin) after this plugin in the `plugins` list, and it outputted its files correctly for both configs.

[2018-04-05 20:26] RobinRadic opened #165 "Couldn't parse bundle asset "path/to/assets/js/main.chunk.9ed0f05522ac84d2b9ea.js"."
#### Issue description
Getting this error
[code]
It **does** however seem to be able to open the analyzer if i omit `"openAnalyzer": false`. So the plugin does work. But it basically prevents the compiler from continuing.

Thanks in advance.

#### Technical info
* Webpack Bundle Analyzer version: 12.11.1
* Webpack version: 4.2.0
* Node.js version: 9.8.0
* npm/yarn version: yarn 1.5.1
* OS: Linux M

[2018-04-06 01:06] RobinRadic commented on #165
A silly mistake of mine.
The problem was not related to `webpack-bundle-analyzer` at all.

[2018-04-06 01:06] #165 closed

[2018-04-07 05:30] jfrolich opened #166 "Cannot parse bundle"
#### Issue description
error:
[code]

#### Technical info
* Webpack Bundle Analyzer version: 2.11.1
* Webpack version: 4.5.0

#### Debug info
bundle supplied here: https://gist.github.com/jfrolich/b0e934b6645edfc116103b09b72a08bd

[2018-04-07 06:32] valscion commented on #166
Hi, thanks for opening an issue :) this could be a parsing bug in webpack-bundle-analyzer.

Could you also upload your stats JSON file? We'll need that to reproduce your issue

[2018-04-11 15:17] esoyke commented on #164
Apologies for the late reply, I was offline a few days and didn't see the updates. I too use the Windows Resizer extension, that was the culprit. Disabling it or using Incognito resolved it. Thanks guys!

[2018-04-11 16:55] dancrumb opened #167 "Add support for reading from STDIN rather than a file"
#### Issue description
The pattern:

[code]

is a little un-*nix.

What would be nicer would be something like

[code]

When I have some time, I'd be happy to create a PR for this.

[2018-04-12 07:01] valscion commented on #167
Hi there! Thanks for the feature suggestion ☺️

The problem is that we also need the bundled contents from the filesystem. Otherwise we'd only be able to visualize the stat size, which isn't really satisfying.

Thank you for offering to create this kind of PR, but I think it might be out of scope of this library. What do you think, @th0r?

[2018-04-12 07:02] valscion commented on #164
Thank you for confirming, @esoyke :relaxed:

[2018-04-12 07:02] #164 closed

[2018-04-12 08:48] th0r commented on #167
Well, I won't mind a PR introducing this feature but with a note in the docs that "in this case you won't see parsed and gzipped sizes".

[2018-04-12 13:44] vinnymac commented on #166
@jfrolich I had the same error today with the same versions of webpack and this tool. The errors disappeared by supplying `webpack-bundle-analyzer` with a directory path.

For example
`webpack-bundle-analyzer stats.json dist/`

Give it a try, and let me know if it helps at all.

[2018-04-13 00:34] romanlex commented on #166
I can confirm problem today(
My stats.json

[stats.zip](https://github.com/webpack-contrib/webpack-bundle-analyzer/files/1905392/stats.zip)

[2018-04-14 00:18] joelnet opened #168 "Add troubleshooting documentation for: Cannot display report in Jenkins due to sandboxed iframe"
#### Issue description
When viewing the static report in Jenkins, exceptions are thrown in the console and page is visibly blank.

The report is successfully built. It cannot be viewed in Jenkins due to content security violations.

#### Technical info
* Webpack Bundle Analyzer successfully builds the report.html
* Jenkins ver. 2.107.2
* Jenkins HTML Publisher Plugin 1.15

#### Debug info
Used as

[2018-04-16 06:57] valscion commented on #168
Hi, and thanks for opening an issue!

You have a valid use case, although one that I don't myself have that much experience on. Do you, or anyone else reading, have ideas on how we could make this plugin work with a strict Content-Security Policy?

We generate the chart script inline here:

https://github.com/webpack-contrib/webpack-bundle-analyzer/blob/2d5f4fc1d89e67536b6dc592fdd3287797072bcb/vie

[2018-04-16 21:02] joelnet commented on #168
After some investigation, it appears to be an issue with Jenkins and not with Webpack Bundle Analyzer.

I have created a test that replicates the issue.

[code]

Jenkins permissions will not allow _any_ script's to run. In addition, the only way to make this work is to change permissions on Jenkins.

I found some instructions here: https://wiki.jenkins.io/display/JENKINS/Configuring+Content+Securi

[2018-04-16 23:55] Stephanemw commented on #132
Looks like the Foamtree website covers this on their homepage and on their free-trial page:

https://carrotsearch.com/foamtree/free-trial/

The generated reports shows the logo and it links to their website. Perhaps some attribution in the main README would help others with this question too.

[2018-04-17 06:33] valscion commented on #168
Thanks for following up :)

[2018-04-17 07:41] Cu3PO42 commented on #166
I have also experienced this problem. I can unfortunately share the code or stats file due to licensing issues, but here are a couple observations from the project:

1. The build creates roughly 35 chunks, however `webpack-bundle-analyzer` only says that it cannot parse one particular bundle (which is a dynamically loaded chunk).
2. While changing code, the issue sometimes "changed files", i.e. oc

[2018-04-25 08:39] valscion commented on #132
I think the foamtree code has been communicated clearly enough that it is 3rd party code and is similar in nature to how npm dependencies work.

If anyone from Carrot Search contacts us on this, we can rethink a best way to handle this.

[2018-04-25 08:39] #132 closed

[2018-04-25 13:41] evmar commented on #132
It's up to you, but there is definitely a difference between:
- making a program that can use proprietary code from npm or somewhere else
- copying code into your program

For example, if you made an iOS program, you would of course use Apple copyrighted libraries in that program.  But if you copied those Apple libraries into your github repository, you'd be in trouble.

I don't mean to harass you

[2018-04-25 15:32] th0r commented on #132
@evmar could you explain the difference between requesting dependency from `npm` and including *unmodified* code into your own repository?

[2018-04-25 15:48] SethDavenport commented on #166
I'm running into the same issue since upgrading webpack from 3.5.5 to 4.6.0. My guess is that it is related to how webpack 4 does bundle splitting; Previously I was using `CommonsChunkPlugin` to generate `app` and `vendor` bundles and the analyzer worked fine.

Since commons chunk plugin is no longer a thing with webpack 4, I added this to my `webpack.config.js` to achieve a similar result:

[code

[2018-04-27 04:56] joscha commented on #71
@th0r sorry to reopen this issue, but the workaround to use the checkbox doesn't work any longer. Background is, that we generate a language file for each language we support (it's an entry chunk), making the stats look like this:

![webpack_bundle_analyzer](https://user-images.githubusercontent.com/188038/39345299-06bdf10e-4a2b-11e8-916b-28a02bd36ebe.png)

I tried to remove the chunks from the st

[2018-04-27 07:08] th0r commented on #71
May I ask why? You can use `All` checkbox to hide all chunks and check only those you need.

[2018-04-27 13:09] pfeigl commented on #115
For others having problems getting good results with angular (5.2.10) and angualr-cli(1.7.4), this is what helped to generate code that resulted in pretty good outputs:
`yarn build --stats-json --build-optimizer=false --vendor-chunk=true --named-chunks=true --output-hashing=media`

[2018-04-27 13:11] valscion commented on #115
@pfeigl seeing as you have knowledge on how `webpack-bundle-analyzer` works with Angular CLI, would you be able to contribute a tiny "Troubleshooting" section for Angular CLI in the README?

I'd really need the help, as I haven't used Angular CLI and there's lots of questions with trouble with it!

[2018-04-28 14:09] pfeigl commented on #115
Sure, in the end I just used https://github.com/angular/angular-cli/wiki/build#bundling--tree-shaking to find out how to disable all the build optimization and the usage of ModuleConcatenationPlugin.

I'll send a PR for the README

[2018-04-30 17:12] Frondor commented on #53
I don't know if I get the idea, but does it tries to display where is a dependency coming from? I'm trying to tree-shake lodash properly, and I'm using a few `lodash/fn` functions, but in the analyzer I see a lot of small lodash functions imported... I'd like to know which other packages are importing them. Is that possible with this approach?

[2018-04-30 17:44] eirikurn commented on #53
Yes. That is the idea.

This kind of clustered dependency resolution is quite
complicated, however. I gave this a stab last year and hit some
obstacle, and I haven't had time to work on it since.

This is probably even more difficult now with webpack3+ and
ModuleConcatenationPlugin. :)

--

Sent from Missive ( https://missiveapp.com/?ref=signature ) -
Email, Chat & Tasks for Productive Teams

On A

[2018-04-30 20:17] SethDavenport commented on #166
Actually I just stumbled across something odd that seems related.

Initially I had this in my webpack config:

[code]

I copied that regex from the webpack docs: https://webpack.js.org/plugins/split-chunks-plugin/#optimization-splitchunks

However I was in there tweaking something else and I was like "that regex seems overly complex" so I changed it to this:

[code]

... and now bundle analyzer wo

[2018-05-01 01:44] jfrolich commented on #166
Ah I have that regex in my config too!

[2018-05-03 04:58] joscha commented on #71
friendly ping @th0r ?

[2018-05-04 07:32] th0r commented on #71
@joscha I'll take a look when I have time. Or PRs are always welcome 😉

[2018-05-04 07:36] valscion commented on #71
If `statsOptions.excludeModules` is a thing, and we could act upon it, then that would be nice. We wouldn't need to add extra configuration to `webpack-bundle-analyzer` in that case :)

[2018-05-08 14:24] Arturszott opened #171 "Node modules shown only for `stats` view."
#### Issue description
Node_modules are shown only for `stats` view, but not in `parsed` and `gzip`

**Stats:**
<img width="516" alt="screen shot 2018-05-08 at 15 52 39" src="https://user-images.githubusercontent.com/2734152/39762140-2db82f06-52da-11e8-8117-41fa65d6eabe.png">

**Parsed:**
<img width="466" alt="screen shot 2018-05-08 at 15 52 32" src="https://user-images.githubusercontent.com/27341

[2018-05-08 15:27] vytautas-pranskunas- opened #172 "Not compatible with angular 6"
I have upgraded to Angular 6 and rxjs 6 and i cannot see detailed stats

![image](https://user-images.githubusercontent.com/3918999/39766631-0b97b198-52e5-11e8-92b3-989b42aa6b07.png)

[2018-05-08 19:46] th0r commented on #172
Please, open another issue and provide all necessary information.

[2018-05-08 19:46] #172 closed

[2018-05-08 19:52] th0r commented on #171
Could you provide `stats.json` and resulting bundles?

[2018-05-09 08:25] musso opened #173 "Problem with angular 6"
#### Issue description
After running `npm install --save-dev webpack-bundle-analyzer` in new ng cli project, the `You seem to not be depending on "@angular/core" and/or "rxjs". This is an error.` shown

#### Technical info
* Webpack Bundle Analyzer version: webpack-bundle-analyzer@2.11.1
* Webpack version: webpack@4.6.0
* Node.js version: v8.10.0
* npm/yarn version: npm@6.0.0
* OS: macOS 10.13.4

[2018-05-09 08:28] valscion commented on #173
The error you are seeing is not coming from `webpack-bundle-analyzer`, as far as I know. Seems like something is off with ng cli instead. Have you tried asking over in their issue tracker?

[2018-05-09 08:30] vytautas-pranskunas- opened #174 "After migration to Angular 6 stats analyzer does not show full information"
#### Issue description
I have migrated to Angular 6 and cannot see detailed info like it was the case with Angular 5
...

#### Technical info
* Webpack Bundle Analyzer version: 2.11.1
* Webpack version: 4.6.0
* Node.js version: 9.8.0
* npm/yarn version: 5.6.0
* OS: Windows 10

#### Debug info
As a CLI. I am running command `ng build --prod --stats-json`

What other Webpack plugins were used? No, A

[2018-05-09 08:34] valscion commented on #174
Try running

[code]

[2018-05-09 08:35] musso commented on #173
Thanks for the reply, the problem exists only when `webpack-bundle-analyzer` is installed.
When I run `npm uninstall webpack-bundle-analyzer -S`, the problem gone.

Some more errors shown when install again

[code]

[2018-05-09 08:36] valscion commented on #173
Do you have `rxjs` in `dependencies` of your `package.json` as the peer dependency warning tells you to have?

[2018-05-09 08:37] musso commented on #173
my package.json

[code]

[2018-05-09 08:38] th0r commented on #173
1. `@angular/cli` uses `yarn` instead of `npm`
2. `webpack-bundle-analyzer` is built into `@angular/cli` so there is no need to install it separately.

[2018-05-09 08:38] #173 closed

[2018-05-09 08:44] musso commented on #173
@th0r can explain it more?
1. you mean I have to update yarn ?
2. I have to use `webpack-bundle-analyzer` cli, do I need to install it separately or just `@angular/cli` is ok?

[2018-05-09 08:44] vytautas-pranskunas- commented on #174
Same result:

![image](https://user-images.githubusercontent.com/3918999/39805027-f1551ff0-5375-11e8-8c34-182d34e71f8c.png)

[2018-05-09 08:48] th0r commented on #173
1. You need to install `webpack-bundle-analyzer` globally with `npm i -g webpack-bundle-analyzer`
2. Generate `stats.json` with `ng build --prod --stats-json`
3. Run `webpack-bundle-analyzer dist/<project-name>/stats.json`

[2018-05-09 08:52] musso commented on #173
thanks, it works

[2018-05-09 08:53] th0r commented on #173
@musso but there is an issue with Angular 6: https://github.com/webpack-contrib/webpack-bundle-analyzer/issues/174

[2018-05-09 08:56] th0r commented on #174
Seems like the structure of `stats.json` have changed and now we incorrectly extract module information.

[2018-05-09 09:54] valscion commented on #174
We will fix it when we have time

[2018-05-09 10:14] Arturszott commented on #171
@th0r done

[2018-05-09 13:56] #174 closed

[2018-05-09 14:02] th0r commented on #171
I didn't find resulting bundles in the archive. Unfortunately stats file alone won't help here because your `stats` sizes are valid - the issue is with `parsed` sizes.
If you don't want to publish your bundles here you can send them to me via email.

[2018-05-09 14:57] #166 closed

[2018-05-09 15:00] th0r commented on #166
Should be fixed in `v2.11.2`

[2018-05-09 15:01] th0r commented on #174
Should be fixed in `v2.11.2`

[2018-05-09 15:06] TomDemulierChevret commented on #174
It is indeed fix'd with the new version for my current angular CLI project.
A big thank to your reactivity !

[2018-05-10 07:36] thomasdavis commented on #49
@th0r oh my bad, I thought this lib was only at 2.1.x so thought that 2.4 was a while away. But nevermind I see where you are at now.

[2018-05-12 00:16] iwaszko commented on #171
The same happens for me. Please find a sample project, stats.json and bundles in the .zip attached: [demo.zip](https://github.com/webpack-contrib/webpack-bundle-analyzer/files/1997126/demo.zip).

The issue seems to be caused by the first import in `index.scss` file. Commenting it out restores the correct behaviour.

Also, switching to 'Stat' and then 'Parsed' shows `node_modules` for me, although